.form-group
	@extend .clearfix
	margin-bottom 8px


.control-label
	font-size 14px
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	color #353535
	text-align right
	font-weight regular
	padding-top 15px
	padding-bottom 6px
	line-height 1
	&.is-required
		&::after
			content '*'
			color #E14013
			position relative
			top -12px
	.has-error &
		color #353535

.form-control
	border 1px solid #d3d7da
	border-radius 3px
	background-color #fff
	height 42px
	box-shadow none
	font-size 15px
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	color #252525
	&:focus
	.has-success &
		box-shadow none
		border-color #8dc63f
	.has-error &
	.has-error &:focus
		box-shadow none
		border-color #e14013

.radio--with-tooltip
	display inline-block

.radio label
	padding-left 25px


.radio-element
	visibility hidden
	border 1px solid #e1e1e1
	border-radius 2px

	appearance none
	width 20px
	height 20px

	position relative
	&::before
		visibility visible
		content ""
		display inline-block
		position absolute
		width 17px
		height 17px
		left -1px
		top -1px
		border 1px solid #cccccc
		border-radius 50%
		background-color #fff
		transition border 0.15s ease-in-out
		transition border 0.15s easeout
	&::after
		display inline-block
		position absolute
		content " "
		width 9px
		height 9px
		left 3px
		top 3px
		border-radius 50%
		background-color #d9534f
		transform scale(0, 0)
		transition transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33)
	&:checked
		&::after
			visibility visible
			transform scale(1, 1)

input[type='search']
	border 1px solid #d3d7da
	background-color #f9f9f9

	padding-left 36px
	border-radius 2px
	padding-top 7px

	&::placeholder
		color #888
		font-size 13px
		line-height 13px
		padding-top 9px
		padding-bottom 9px
		font-style italic
	&:-moz-placeholder
		line-height 33px
	&::-moz-placeholder
		line-height 33px


	.header__search-input-label &
		// width 454px
		width 100%
		height 33px
		padding-top 0
		padding-bottom 0
		line-height 33px

	.not-found__search-input-label &
		height 50px
		padding-top 0
		padding-bottom 0
		line-height 50px
		padding-left 50px

		&::placeholder
			padding-top 18px
			display block
			padding-bottom 19px
		&:-moz-placeholder
			line-height 50px
		&::-moz-placeholder
			line-height 50px


		+below(4)

			padding-right 50px
			padding-left 12px

		+at(3)
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			height 48px
			line-height 48px
			padding-right 48px
			padding-top 15px
			padding-bottom 17px
			background-color #FFF
			&::placeholder
				font-size 16px
				line-height 16px

			&:-moz-placeholder
				line-height 48px
			&::-moz-placeholder
				line-height 48px


.input-number
	width 100px

	input
		background-color #F9F9F9
		text-align center
		border 1px solid #EBEBEB
		height 44px
		padding-top 7px
		padding-bottom 7px

		border-right-color transparent

.input-group__btn--vertical
	position relative
	white-space nowrap
	width 1%
	vertical-align middle
	display table-cell
	&::after
		content ''
		display block
		position absolute
		top 4px
		left 0
		background-color #E1E1E1
		width 1px
		height 34px
.input-number-btn
	display block
	float none
	width 100%
	max-width 100%
	width 41px
	margin-left -1px
	position relative
	border-radius 0
	height 23px
	background-color #F9F9F9
	border 1px solid #EBEBEB
	&:first-child
		border-top-right-radius 4px
		border-bottom none

	&:last-child
		border-top none
		margin-top -2px
		border-bottom-right-radius 4px
	.icon-caret-up
		position absolute
		right 15px
		top 10px
	.icon-caret-down
		position absolute
		right 15px
		bottom 10px


.subscribe-popup__form__input
	width 266px
	height 44px
	line-height 44px
	display inline-block
	vertical-align top
	margin-right 5px

.category__filter
	&__input
		&-field
			width 148px
			height 32px
			line-height 32px
			padding-right 40px

.input-money
	margin-left 9px
	display inline-block
	vertical-align top
	position relative
	&-label
		position absolute
		right 9px
		top 10px
		font-size 13px
		padding 0
		color #999
