.form-group
	@extend .clearfix
	margin-bottom 8px

	.col-sm-1
		width 20%
	.col-sm-4
		width 80%
	.col-sm-offset-1
		margin-left 20%

.control-label
	font-size 14px
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	color #353535
	text-align right
	font-weight regular
	padding-top 15px
	padding-bottom 6px
	line-height 1
	&.is-required
		&::after
			content '*'
			color #E14013
			position relative
			top -12px
	.has-error &
		color #353535

.form-control
	border 1px solid #d3d7da
	border-radius 3px
	background-color #fff
	height 42px
	box-shadow none
	font-size 15px
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	color #252525
	&:focus
	.has-success &
		box-shadow none
		border-color #8dc63f
	.has-error &
	.has-error &:focus
		box-shadow none
		border-color #e14013

.radio label
	padding-left 25px


.radio-element
	visibility hidden
	border 1px solid #e1e1e1
	border-radius 2px

	appearance none
	width 20px
	height 20px

	position relative
	&::before
		visibility visible
		content ""
		display inline-block
		position absolute
		width 15px
		height 15px
		left 0
		top -1px
		border 1px solid #cccccc
		border-radius 50%
		background-color #fff
		transition border 0.15s ease-in-out
		transition border 0.15s easeout
	&::after
		display inline-block
		position absolute
		content " "
		width 9px
		height 9px
		left 3px
		top 3px
		border-radius 50%
		background-color #d9534f
		transform scale(0, 0)
		transition transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33)
	&:checked
		&::after
			visibility visible
			transform scale(1, 1)

input[type='search']
	border 1px solid #d3d7da
	background-color #f9f9f9

	padding-left 36px
	border-radius 2px
	padding-top 7px

	.header__search-input &
		width 454px
		height 32px
		padding-top 12px
		padding-bottom 10px

	.not-found__search-input-label &
		width 296px
		height 50px
		padding-left 50px

	&::placeholder
		color #888
		font-size 13px
		font-style italic
