.pick
	background-color #E1E1E1
	border 2px solid #b2b3b3
	border-radius 2px
	line-height 30px
	padding 3px 13px 3px 10px
	position absolute
	top 0
	left calc( 100% - 38px)
	z-index 1000
	white-space nowrap

	+below(4)
		background-color rgba(0, 0, 0, .75)
		border none
		left -12px
		right -12px
		padding 8px 20px
		border-radius 0
		display table
		width calc(100% + 24px)


	&::before
		content ''
		position absolute
		top 50%
		margin-top -8px
		left -8px
		width 0
		height 0
		border-style solid
		border-width 7.5px 8px 7.5px 0
		border-color transparent #b2b3b3 transparent transparent
		+below(4)
			content none
	&::after
		content ''
		position absolute
		top 50%
		margin-top -8px
		left -5px
		width 0
		height 0
		border-style solid
		border-width 7.5px 8px 7.5px 0
		border-color transparent #E1E1E1 transparent transparent
		+below(4)
			content none
	&__text
		font-size 13px
		color #111
		vertical-align baseline
		+below(4)
			display table-cell
			vertical-align middle
			color #FFF
			font-size 14px
			padding-right 10px
			margin-right 200px
	&__close-link
		vertical-align middle
