include ../button/button

mixin pick()
	+b.pick
		+e('span').text Выбрано !{''}
			+e('span').count.js-pick-count 28
			| &nbsp;товаров !{''}
		+button().btn-sm.btn--dark.pick__show-btn
			| Показать
		+e('a')(href=jv0).close-link.js-pick-close-link.hidden-xs
			+e('i').close-icon.icon-close-11-12x12
