.checkbox-element
	// display inline-block
	// vertical-align top

	visibility hidden
	border 1px solid #e1e1e1
	border-radius 2px

	appearance none
	width 22px
	height 22px

	position relative
	+below(4)
		border-radius 0

	&:checked
		& + label
			&::before
				background-color #E14013
				border-color #E14013
			&::after
				visibility visible

input[type='checkbox'].checkbox-element
	margin-left -34px
	top 0
	margin-top 0

.checkbox label
	padding-left 34px
	min-height 22px
	position relative

	&::before
		visibility visible
		position absolute
		top 0
		left 0
		width 22px
		height 22px
		content ''
		background-color #FFF
		border 1px solid #e1e1e1
		border-radius 2px
		cursor pointer
		+below(4)
			border-radius 0

	&::after
		position absolute
		top 6px
		left 5px


		content ''
		cursor pointer

		transform rotate(-45deg)
		border-bottom 2px solid #fff
		border-left 2px solid #fff
		visibility hidden

		width 12px
		height 7px

.login-modal__form__checkbox
	.checkbox-element:checked::before
		background-color #39B54A
		border-color #39B54A
	.checkbox-text
		font-size 13px
		line-height 1
		vertical-align baseline

.aside-catalogue-section__checkbox
	font-size 14px
	color #555
	line-height 1.2
	&:hover
		.aside-catalogue-section__pseudo
			border-bottom-style solid
			+below(2)
				border-bottom-style none
