.rating-stars
	white-space nowrap
	display inline-block
	vertical-align top
	margin-top 5px

.symbol
	width 14px
	height 14px

.rating-symbol-foreground
	top 0


.icon-star-rating-gray
.icon-star-rating
	vertical-align top
