.action-link--pseudo
	font-size 12px
	line-height 1.8
	text-decoration none
	color #888
	display block
	white-space nowrap
	&:hover
		color #888
		.action-link-text
			border-bottom-style solid

.action-link-text
	border-bottom 1px dashed #888
	display inline-block
	vertical-align bottom
	line-height 1
	margin-left 5px

.spec__actions
	margin-top 32px
	margin-bottom 19px

.action__icon-price-label
.action__icon-price-compare
.action__icon-price-favorites
	vertical-align bottom
