thead
	background-color #F2F2F2
	font-size 13px
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	color #555
th
	font-weight normal

.table-bordered-rows
	& > thead > tr > th
	& > tbody > tr > th
	& > tfoot > tr > th
	& > thead > tr > td
	& > tbody > tr > td
	& > tfoot > tr > td
		border none
	& > tbody > tr > td
		border-bottom 1px solid #d7d7d7
		vertical-align middle
