include ../../layout/content/content
include ../../layout/breadcrumb/breadcrumb
include ../../basic/link/link
include ../../basic/button/button
include ../../basic/details/details
include ../../basic/phone/phone
include ../../layout/nav-main/nav-main

mixin contacts()
	block vars
	- var	order = pageId === 'order'

	+nav-main()
	+content-outer()
		.col-md-6
			+breadcrumb(['Главная', pageTitle])

	+b('section').contacts-intro
		+content-outer()
			.col-md-6
				+e('h1').heading Контакты

	+b('section').contacts-main
		+content-20-outer()
			.col-md-20-3.col-md-20-offset-1
				+e.inner
					.row
						.col-md-25-2
							+e.inner-item
								+e('h6').heading Магазин работает:
								+e.text Понедельник - Воскресенье
								+e.time 10:00 - 20:00

						.col-md-25-2
							+e.inner-item
								+e('h6').heading Call центр работает:
								+e.text Понедельник - Воскресенье
								+e.time 8:00 - 22:00
	+b('section').help-big
		+content-outer()
			.col-md-6
				.row
					+e.left.col-md-3
						+e.call
							+e('h6').heading Звоните нам по телефону
							+e('ul').call-list
								+e('li').call-list-item
									+e('a')(href='tel:+375447825555').call-link
										+e('i').call-link__icon.icon-vel-29x29
										+e.call-link__number
											+e.call-link__number-code +375
											|  (44) 782  55 55
								+e('li').call-list-item
									+e('a')(href='tel:+375447825555').call-link
										+e('i').call-link__icon.icon-mts-29x29
										+e.call-link__number
											+e.call-link__number-code +375
											|  (44) 782  55 55
								+e('li').call-list-item
									+e('a')(href='tel:+375447825555').call-link
										+e('i').call-link__icon.icon-life-29x29
										+e.call-link__number
											+e.call-link__number-code +375
											|  (44) 782  55 55
							+e('h6').heading Пишите нам на email
							+e('a')(href='mailto:vip@ultra.by').email
								| vip@ultra.by
					+e.right.col-md-3
						+e('form').form
							+e('h6').heading Есть вопросы? Пишите!
							+e.form__fields
								+input-horizontal-group({name:'Имя',placeholder:'Имя'})#name
								+input-horizontal-group({type:'email',name:'Email',placeholder:'Email'})#email
								+textarea-horizontal-group({name:'Сообщение',placeholder:'Сообщение'})#message
								.form-group
									.col-sm-20-4.col-sm-20-offset-1
										+button({type: 'submit', name: 'Отправить'}).btn-lg.btn--dark.btn-block
					+e.girl


	+b('section').delivery-location
		+content-20-outer()
			.col-md-20-3.col-md-20-offset-1
				+e.head
					+e('h1').heading Мы находимся
					+b('address').address
						+e.street
							+e('i').street__icon.icon-map-red-17x28
							+e('span').street__text г.Минск, пр-т Независимости 28
						+e.metro
							+e('i').metro__icon.icon-metro-blue-19x19
							+e('span').metro__text Октябрьская
						+e.link
							+link('#map').link--pseudo.js-show-map
								| Смотреть на карте
		.contacts__nav
			+navSubheader({
									links: [
										{
											isActive: true,
											href: '#virtual-tour',
											class: 'js-contacts-nav-tab',
											icon: 'feather',
											content: 'Виртуальный тур'
											},
										{
											isActive: false,
											href: '#map',
											class: 'js-contacts-nav-tab',
											icon: 'info',
											content: 'Карта'
											}
									]
								}).contacts__nav-tabs.js-subheader-contacts-tab
		+e.tab-content.tab-content
			#virtual-tour.tab-pane.active(role='tabpanel')
				+e.tour
					script(type="text/javascript", charset="utf-8", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=V4sidRrcu64JsAX_eB1YkU2mRkHsicGW&width=100%&height=500&lang=ru_RU&sourceType=constructor")

			#map.tab-pane(role='tabpanel')
				+e.map
					script(type="text/javascript", charset="utf-8", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=V4sidRrcu64JsAX_eB1YkU2mRkHsicGW&width=100%&height=500&lang=ru_RU&sourceType=constructor")

	.promo__foot.promo__foot--contacts.visible-md-block.visible-lg-block
		+content-outer()
			.col-md-3
				.promo__main
					.promo__main__icons
						i.icon-person-female-red-63x96.promo__main__icon
						i.icon-person-male-dark-63x96.promo__main__icon
					.promo__main__text
						h5.promo__main__heading
							strong 10
							|  лет в Беларуси
						p.promo__main__caption Дождь, гром и молния нас не остановят. Работаем без выходных, даже в Новый Год.
			.col-md-3
				ul.promo__link-list
					li
						+link('/index-delivery.html').promo__link-item
							span.promo__link-item__icon-wrap
								i.icon-truck-delivery.promo__link-item__icon
							span.promo__link-item__desc
								strong Быстрая доставка
								| По Минску и другим регионам Беларуси
					li
						+link('/index-guarantee.html').promo__link-item
							span.promo__link-item__icon-wrap
								i.icon-security.promo__link-item__icon
							span.promo__link-item__desc
								strong Сделка без рисков
								| Плати наличными при получении или денежным переводом


