include ../content/content
include ../../basic/product/product
include ../../basic/tag/tag
include ../../basic/button/button

mixin live()
	section.live
		.live__head
			.container-20
				.row-20
					.col-md-20-5
						h1.live__heading ULTRA.BY в прямом эфире
							small
								i.icon-people-red-16x12.live__people-icon
								span.live__count  247
								|  покупателей онлайн
		.live__body
			.container-20
				.row-20.js-live-carousel
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'favorite'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'compare'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'compare'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'cart'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'favorite'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'compare'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'compare'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'cart'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'favorite'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'compare'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'compare'
											})
					.col-md-20-1.col-sm-25-1.col-xs-2.product__col
						+product({
											type: 'live',
											rating: true,
											added: 'cart'
											})

