include ../content/content
include ../../basic/product/product
include ../../basic/tag/tag
include ../../basic/button/button

mixin live()
	section.live
		.live__head
			.container-20
				.row-20
					.col-md-20-5
						h2.h1.live__heading ULTRA.BY в прямом эфире
							small
								i.icon-people-red-16x12.live__people-icon
								span.live__count  247
								|  покупателей онлайн
		.live__body
			.container-20
				.row-20.js-live-carousel
					.col-md-20-1
						+product({
											present: 'favorite',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'compare',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'compare',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'cart',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'favorite',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'compare',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'compare',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'cart',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'favorite',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'compare',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'compare',
											live: true
											}).live__product
					.col-md-20-1
						+product({
											present: 'cart',
											live: true
											}).live__product

