include ../../layout/content/content
include ../../layout/expert/expert
include ../../layout/timer/timer
include ../../layout/not-found/not-found
include ../../basic/link/link
include ../../basic/pattern/pattern
include ../../basic/order-form-section/order-form-section
include ../../basic/button/button
include ../../basic/details/details
include ../../basic/phone/phone
include ../../basic/form/form
include ../../basic/label/label
include ../../basic/nav-small/nav-small
include ../../basic/help-block/help-block
include ../../basic/tooltip/tooltip
include ../../basic/dropdown/dropdown
include ../../basic/tag/tag
include ../../basic/table/table
include ../../basic/checkbox/checkbox
include ../../basic/countdown/countdown


mixin productPage()
	- var available = productState !== 'notAvailable';
	+content()
		.col-md-6
			+nav-small(['Главная', 'Каталог товаров', 'Мобильные телефоны', pageTitle])
	section.product-page__head
		+content()
			.col-md-6
				h2.product-page__heading-main Samsung 19300 Galaxy S III Garnet
				.product-page__head__icons
					img(src="/assets/images/android-icon.png", alt="android")
					img(src="/assets/images/2-sim-icon.png", alt="2-sim")
					img(src="/assets/images/3g-icon.png", alt="3g")
					img(src="/assets/images/ips-icon.png", alt="ips")
					img(src="/assets/images/4-cores-icon.png", alt="4-cores")
					img(src="/assets/images/gps-icon.png", alt="gps")

	section.product-page__offers
		+content()
			.col-md-3
				.product-page__offers__gallery


			.col-md-3
				.product-page__offers__spec(class=!available ? 'product-page__offers__spec--unavailable' : '')
					.row
						.col-md-4
							.spec__label
								if available
									+label-warning('На что стоит обратить внимание?')
									p.spec__label__caption
										| Функция «Social tag» позволяет соединить лица в вашем фотоальбоме с социальными сетями.
								else
									+label-warning('Товара нет в наличии')
					if available
						+timer({type: productState, countdownId:'phone1'}).product-page__timer
					else
						hr.product-page__unavailable-divider
					.spec__left
						.spec__price-wrap
							if !available
								.spec__price.spec__price-text Последняя цена на сайте
							s.spec__price.spec__price--old
								| 2 610 000 BYR
							strong.spec__price.spec__price--new
								| 1 950 000 BYR
						.spec__available
							i.icon-check-green.spec__available-icon
							span.spec__available
								| В наличии —
								if available
									span.js-available-count  5
								else
									span.js-available-count  0
								|  шт.
						if available
							.spec__buy
								+button({type:'buttonSubmit'}).btn-lg.btn--red.btn-block.spec__buy__btn.js-buy
									| Купить
								+checkbox({name:'product-warranty',value:'add-warranty',label:'Продлить гарантию еще на 1 год'}).spec__warranty
									strong.spec__warranty-price + 106 400 BYR
									+link().link--pseudo.spec__buy__info.js-show-info
										| узнать подробнее
					.spec__right
						.spec__rating-wrap
							span.spec__rating-stars
								i.icon-star-rating
								i.icon-star-rating
								i.icon-star-rating
								i.icon-star-rating
								i.icon-star-rating
							span.spec__rating-number
								strong 4,8
								|  из 5
							em.spec__rating-votes
								| (8 голосов)
						.spec__actions
							if available
								+link().spec__action-link--pseudo
									i.icon-price-label.spec__icon-price-label
									span.spec__action-link-text Узнать о снижении цены
							+link().spec__action-link--pseudo
								i.icon-price-compare.spec__icon-price-compare
								span.spec__action-link-text Сравнить
							+link().spec__action-link--pseudo
								i.icon-price-favorites.spec__icon-price-favorites
								span.spec__action-link-text В избранном
						if available
							.spec__credit
								+link()
									i.icon-timer.spec__credit__timer
									span.spec__credit__link-text Как купить в кредит?
					if available
						.spec__one-click
							.spec__one-click__input-wrap
								+input({type:'phone',value:'+375'}).spec__phone-input
							i.icon-arrow-right.spec__icon-arrow
							+button({type:'buttonSubmit'}).btn-med.btn--dark.spec__one-click__btn.js-one-click-buy
								| Купить в один клик
	section.product-page__conditions
		+content()
			.col-md-6
				.product-page__conditions__inner
					.media.product-page__condition
						.media-left.product-page__condition__left
							i.icon-wire-transfer
						.media-body
							h6.product-page__condition__heading Гарантия возврата денег
							p.product-page__condition__caption в течение 14 дней с даты покупки
							+link().link--pseudo.product-page__condition__link Условия возврата
					.media.product-page__condition
						.media-left.product-page__condition__left
							i.icon-calendar-48
						.media-body
							h6.product-page__condition__heading 48 месяцев гарантии
							p.product-page__condition__caption от производителя
							+link().link--pseudo.product-page__condition__link Условия гарантии
					.media.product-page__condition
						.media-left.product-page__condition__left
							i.icon-truck-delivery
						.media-body
							h6.product-page__condition__heading Быстрая доставка
							p.product-page__condition__caption
								| По Минску сегодня.
								br
								| Ежедневно в другие регионы
							+link().link--pseudo.product-page__condition__link Условия доставки
	section.product-page__similar
		+content()
			.col-md-6
				.product-page__similar__head
					h4.product-page__similar__heading Похожие велосипеды с
					+tag('2014 год',false).product-page__similar__tag
					+tag('горный',false).product-page__similar__tag
					+tag('мужской',false).product-page__similar__tag
					+tag('еще параметр',true).product-page__similar__tag
	section.product-page__info
		+content()
			.col-md-1
				aside(style='width:100%;height:631px;background:gray;')
					| Samsung i9300 Galaxy S III Garnet
			.col-md-5
				ul.nav.nav-tabs.js-product-nav
					li.active(role='presentation')
						+link('#description').js-product-nav-tab
							i.icon-feather.nav__icon-feather
							| Описание
					li(role='presentation')
						+link('#features').js-product-nav-tab
							i.icon-info.nav__icon-info
							| Характеристики
					li(role='presentation')
						+link('#reviews').js-product-nav-tab
							i.icon-review.nav__icon-review
							| Отзывы
					li(role='presentation')
						+link('#questions').js-product-nav-tab
							i.icon-question.nav__icon-question
							| Вопрос – ответ
					li(role='presentation')
						+link('#delivery').js-product-nav-tab
							i.icon-delivery.nav__icon-delivery
							| Доставка и оплата

				.tab-content
					#description.tab-pane.active(role='tabpanel')
						article.description
							h2 Видео обзор SAMSUNG I9300 Galaxy S III Garnet Red
							iframe(src="https://www.youtube.com/watch?v=0-T3FC0rWsc", width="790", height="514", frameborder="0")
							.description__center
								+button().btn-xsm.btn--ghost.btn--ghost-gray.more-videos-btn.js-more-videos
									| Еще 2 видео обзора
									i.icon-arrow-down.more-videos-btn__icon-arrow
							h2 Спутник в твоем мире
							figure
								img(src="http://dummyimage.com/786x336/4d494d/686a82.gif&text=placeholder+image",width="786",height="336", alt="placeholder+image")
							p Новый смартфон Samsung GALAXY S4 станет твоим истинным компаньоном, который поможет упростить общение с людьми и сохранить самые радостные моменты жизни. Каждая его функция призвана сделать твою жизнь насыщенней и интересней. Кроме того, он может следить за твоим здоровьем и самочувствием. Samsung GALAXY S4 — твой незаменимый помощник.
					#features.tab-pane(role='tabpanel')
						| features
					#reviews.tab-pane(role='tabpanel')
						| reviews
					#questions.tab-pane(role='tabpanel')
						| questions
					#delivery.tab-pane(role='tabpanel')
						| delivery
	+expert()
	+pattern()
	section.product-page__set
		+content()
			.col-md-1
				.product-temp(style="width:100%;height:420px;background: gray;")
			.col-md-5
	+not-found()



