include ../header-top/header-top
include ../header-main/header-main
include ../header-mobile-menu/header-mobile-menu
include ../../layout/content/content
include ../../basic/nav/nav

mixin header()
	block vars
	- var	order = pageId === 'order'
	header.header(class= order ? 'header--w-border' : '')
		+button({type:'button'}).js-toggle-mobile-menu.header__toggle-btn
			i.toggle-btn-icon.icon-burger-menu-252525-18x12

		.header__mobile#js-header-mobile-menu
			+header-mobile-menu(getData('navigation')[0]['mobile'])
		.header__top-wrap.visible-md-block.visible-lg-block
			+content-outer()
				.col-md-6
					+header-top()
		.header__main-wrap
			+content-outer()
				+header-main()
		if !order
			.header__nav-wrap
				+content-outer()
					.col-md-6
						+nav(getData('navigation')[0],'main')#js-top-menu.nav-list--inline.clearfix





