include ../header-top/header-top
include ../header-main/header-main
include ../../layout/content/content
include ../../basic/nav/nav

mixin header()
	block vars
	- var	order = pageId === 'order'
	header.header(class= order ? 'header--w-border' : '')
		.header__top-wrap
			+content()
				.col-md-6
					+header-top()
		.header__main-wrap
			+content()
				+header-main()
		if !order
			.header__nav-wrap
				+content()
					.col-md-6
						+nav(getData('navigation')[0],'main').nav-list--inline.clearfix



