.header

	&__title
		margin-bottom 20px
	&--w-border
		border-bottom 3px solid #E14013

.header__top-wrap
	border-bottom 1px solid #d3d7da

.header__nav-wrap
	background #252525

.header__main-wrap
	padding-bottom 16px
