include ../../layout/content/content
include ../../layout/breadcrumb/breadcrumb
include ../../basic/link/link
include ../../basic/button/button
include ../../basic/details/details
include ../../layout/nav-main/nav-main

mixin guarantee()
	block vars
	- var	order = pageId === 'order'

	+nav-main()
	+content-outer()
		.inner.inner--w1360
			.col-md-6
				+breadcrumb(['Главная', pageTitle])

	section.guarantee__terms
		.inner.inner--w900
			h1 Условия возврата и замены товаров
			p.caption.terms__caption
				| Иногда, купив товар, у покупателя возникает необходимость или желание вернуть товар или обменять его на другой. Это может случиться по ряду разных причин, но все они в итоге сводятся к двум:
			.terms__reasons.cf
				.terms__reason.first-reason
					i.icon-left-arrow-guarantee
					.reason__content
						span.number-round.reason__number-first 1
						h6.small Товар неисправен
						p.caption Что-то вдруг оказывается неисправным или некачественным.
						img(src="./assets/images/truck.png", alt="опрокинутая игрушка грузовик")

				img(src="./assets/images/child.png", alt="Плачущий ребёнок в картонной коробке").terms__illustration

				.terms__reason.second-reason
					i.icon-right-arrow-guarantee
					.reason__content
						span.number-round.reason__number-second 2
						h6.small Не то что вы ожидали
						p.caption Качественный и исправный товар не подходит.

	section.guarantee__solve.cf
		.inner.inner--w1100
			i.icon-left-arrow-phone
			h2.h2--red.solve__heading Что делать?
			i.icon-right-steps
			.solve-recipes.cf
				.solve-recipe
					h6.small Позвонить нам
					p.caption Вы всегда можете обратиться к нам за помощью и консультацией по телефону
					hr.divider
					.connection
						.connection__profile
							img.connection__photo(width='90', height='90', src='./assets/images/avatar.jpg')
							div.connection__name
								| Анна Колиснеченко
							-// Константин Константинопольский
							div.connection__position менеджер
						.connection__call
							+link('tel:+375446825555').connection__call__phone
								i.icon-vel-18
								span.connection__call__area +375
								strong.connection__call__number (44) 682-5555
							+link('tel:+375297825555').connection__call__phone
								i.icon-mts-18
								span.connection__call__area +375
								strong.connection__call__number (29) 782-5555
							+button().btn-sm.btn--dark.connection__call__btn
								| Заказать обратный звонок
				.solve-recipe.solve-recipe--gray
					i.icon-glasses
					h6.small Ознакомиться с законодательством
					p.caption А можно прежде всего ознакомиться с тем, как такие случаи трактует наше законодательство
					.down
						i.icon-arrow-down
				.solve-recipe
					h6.small Прийти к нам
					p.caption Мы всегда рады видеть Вас, приходите к нам в магазин по адресу
					hr.divider
					.conection
						.connection__map
							i.icon-map.connection__icon-map
							address.connection__address
								strong.connection__address-line г.Минск, пр-т Независимости 28
								.connection__metro
									i.icon-metro
									.connection__metro-name Октябрьская
								+link().link--pseudo.link--secondary.connection__map-link
									| Смотреть на карте

	section.guarantee__questions.cf
		.inner.inner--w1100
			.questions__sections.cf
				section.section-half.questions__left
					ul
						li.questions__item.cf
							i.icon-box.questions__icon
							h6.small.questions__heading Когда товар можно обменять на другой?
						li.questions__item.cf
							i.icon-wrench.questions__icon
							h6.small.questions__heading Когда потребовать ремонта?
						li.questions__item.cf
							i.icon-moneyback.questions__icon
							h6.small.questions__heading Как вернуть уплаченные за товар деньги?
				section.section-half.questions__right
					.questions__caption-wrap
						p.caption Ответы на эти вопросы четко прописаны в законодательстве Республики Беларусь. Но не каждый добирается ознакомиться с законодательными нормами — в том числе и по той причине, что не всегда легко за юридическим языком дойти до ясного понимания.
						p.caption Мы ценим время наших покупателей, поэтому здесь изложили доступно и понятно: что, почему, когда и в какой последовательности следует делать. (А ниже, после подробных инструкций — выписки из законодательных актов, на которые наши инструкции опираются.)

	section.guarantee__obligation
		.inner.inner--w1100
			h1 Обязательства продавца
			.obligation__sections.cf
				section.section-half.obligation__left
					p.caption
						| Если продавец продал покупателю некачественный товар, а про изъяны товара умолчал — что может потребовать от продавца покупатель?
						br
						| Закон РБ «О защите прав потребителей» предусматривает следующие варианты (ст. 20):
					ul.default-ul
						li продавец заменяет этот товар другим товаром, качественным;
						li продавец возвращает покупателю часть уплаченной цены;
						li продавец бесплатно и без задержки устраняет недостатки товара;
						li продавец оплачивает расходы покупателя по устранению изъянов;
						li покупатель возвращает товар, а продавец возвращает ему уплаченные деньги.
				section.section-half.obligation__right
					.block--yellow
						h6.obligation__heading Правило «14 дней»
						ul.default-ul.obligation__default-ul
							li если товар некачественный, то продавец заменяет его на качественный или устраняет недостатки сразу же или не более чем на протяжении 14 дней (ст. 22, 23);
							li если товар качественный и им не пользовались, то покупатель имет право вернуть или обменять его продавцу также на протяжении 14 дней (ст. 28).
			section.exceptions
				.inner.inner--w900
					i.icon-exception.exception__icon
					.exception
						h6.rule__heading Исключения
						p.caption Но не всё и не всегда можно обменять. Есть исключение, они оговорены в Постановлении Совета Министров РБ 14 июня 2002г. № 778 «О мерах по реализации Закона Республики Беларусь «О защите прав потребителей».
						p.caption Если товар — «технически сложный или дорогостоящий», то потребовать его замены можно только если у товара обнаружится «существенный недостаток» (определение дается в ст. 20 Закона — см. ниже). Перечень непродовольственных товаров надлежащего качества, не подлежащих обмену и возврату, утверждается Правительством Республики Беларусь.

	section.guarantee__sample
		.inner.inner--w900
			img(src="./assets/images/check.png").sample__check
			h1.h1--red.sample__heading
				| Образцы документов
				small подтверждающие факт приобретения товара
			ol.list-round
				li
					span.number-round.number-round--small.sample__number-round 1
					h6.small.sample__heading-small Чек
					p.caption.sample__caption - продавец обязан выдать покупателю вместе с товаром
				li
					span.number-round.number-round--small.sample__number-round 2
					h6.small.sample__heading-small Гарантийный талон
					p.caption.sample__caption - выдается товарам, на которые распространяется гарантия
		.sample__warranty
			img(src='./assets/images/warranty-card.png').sample__warranty-img

	section.guarantee__thanks
		.thanks__icons
			i.icon-person-female-red-41x62.thanks__icon-left
			i.icon-person-male-dark-41x62
		p.thanks__caption Спасибо, что выбрали наш магазин, и будьте внимательны при осуществлении покупок!

	hr.divider-red

	section.guarantee__law
		.inner.inner--w787
			.law__head
				h1.law__heading
					| Законодательство РБ
					small регламентация актов на замену или возврат товара
				span.dash
			p.caption ЗАКОН РЕСПУБЛИКИ БЕЛАРУСЬ от 9 января 2002 г. N 90-З «О ЗАЩИТЕ ПРАВ ПОТРЕБИТЕЛЕЙ»
			h6.small
				| ГЛАВА 3.
				span.subheading--red ЗАЩИТА ПРАВ ПОТРЕБИТЕЛЯ ПРИ РЕАЛИЗАЦИИ ЕМУ ТОВАРА
			.law__details
				+details('Статья 20.','Права потребителя в случае реализации ему товара ненадлежащего качества')
					p 1. Недостатки, обнаруженные в товаре, должны быть устранены продавцом (изготовителем, поставщиком, представителем, ремонтной организацией) безвозмездно и незамедлительно. В случае, если устранить недостатки незамедлительно не представляется возможным, максимальный срок их устранения не может превышать четырнадцати дней со дня предъявления потребителем требования об устранении недостатков товара.
					p 2. В случае безвозмездного устранения недостатков в товаре длительного пользования потребитель вправе предъявить изготовителю или продавцу требование о предоставлении потребителю на период ремонта безвозмездно во временное пользование аналогичного товара. Изготовитель или продавец обязаны удовлетворить требование потребителя в трехдневный срок со дня его предъявления, а также обеспечить доставку потребителю такого товара за свой счет. Порядок предоставления таких товаров, а также перечень товаров длительного пользования, на которые указанное требование не распространяется, устанавливаются Правительством Республики Беларусь.
				+details('Статья 22.','Безвозмездное устранение недостатков товара продавцом (изготовителем, поставщиком, представителем, ремонтной организацией)')
					p 1. Недостатки, обнаруженные в товаре, должны быть устранены продавцом (изготовителем, поставщиком, представителем, ремонтной организацией) безвозмездно и незамедлительно. В случае, если устранить недостатки незамедлительно не представляется возможным, максимальный срок их устранения не может превышать четырнадцати дней со дня предъявления потребителем требования об устранении недостатков товара.
					p 2. В случае безвозмездного устранения недостатков в товаре длительного пользования потребитель вправе предъявить изготовителю или продавцу требование о предоставлении потребителю на период ремонта безвозмездно во временное пользование аналогичного товара. Изготовитель или продавец обязаны удовлетворить требование потребителя в трехдневный срок со дня его предъявления, а также обеспечить доставку потребителю такого товара за свой счет. Порядок предоставления таких товаров, а также перечень товаров длительного пользования, на которые указанное требование не распространяется, устанавливаются Правительством Республики Беларусь.
			.law__list
				h6.small Перечень технически сложных товаров, при обнаружении существенных недостатков которых (существенного нарушения требований к их качеству) потребитель вправе требовать их замены:
				p.caption.law__caption Автомобили, мотовелотовары, прицепы и номерные агрегаты к ним. Электротовары, телерадиотовары, электромузыкальные инструменты, фото- и киноаппаратура, телефонные аппараты и факсимильная аппаратура, часы, компьютеры бытовые персональные, ноутбуки, печатающие устройства, клавиатуры, мониторы (дисплеи), сканеры и прочие устройства ввода и вывода, копировально-множительная техника, электрогазонокосилки, газонокосилки (триммеры) бензиновые, бензопилы, швейные машины, машины и аппараты вязальные, машины раскройные, для шитья меха, обмёточные и стачивающе-обмёточные, бытовое газовое оборудование и устройства, иные товары с питанием от сети переменного тока), на которые установлены гарантийные сроки и в техническом паспорте (заменяющем его документе) которых имеется отметка о дате продажи.
