.guarantee
	&__terms
	&__solve
	&__thanks
	&__law
		text-align center

	&__law
		overflow hidden
		h6.small
			margin-top 30px
			margin-bottom 36px


	&__solve
		padding-top 60px
		padding-bottom 88px

	&__questions
	&__sample
		background-color #F6F6F6
		padding-top 92px
		border-top 1px solid #E1E1E1

	&__sample__col
		margin-left -12px
		margin-right -12px

.sample__warranty
	background 	url('../images/pattern-color-bones-136x135.png') repeat-x,
							#F6F6F6
	background-position-y 50%
	background-size 136px 135px
	padding-top 35px
	padding-bottom 70px
	text-align center
	border-bottom 1px solid #E1E1E1

.subheading--red
	color #E14013
	font-size 15px

.terms
	&__caption
		max-width 600px
		margin 0 auto

	&__illustration
		width 412px
		position absolute
		z-index 0
		top 50%
		margin-top -237px
		left 50%
		margin-left -253px

	&__reasons
		position relative
		margin-top 150px
		text-align center

	&__reason
		width 280px
		display inline-block
		vertical-align top
		position relative
		z-index 1
		text-align left
		padding-top 28px
		h6
			margin-bottom 13px

.truck-img
	position relative
	float right
	top 40px

.rule__heading
	margin-top 0

.exceptions
	border-top 1px solid #E1E1E1
	margin-top 10px


.icon-left-arrow-phone
	sprite($icon_left_arrow_phone)
	margin-right 65px
	margin-top 28px

.icon-right-steps
	sprite($icon_right_steps)
	margin-left 45px
	margin-top 15px


.questions
	&__sections
		text-align left
	&__left
		padding-left 110px
	&__right
		padding-left 20px
		padding-right 110px
	&__icon
		float left
	&__item
		margin-bottom 20px
	&__heading
		margin-left 78px
		margin-top 16px

.solve__heading
	display inline-block
	margin-top 0
	vertical-align top



.first-reason
	margin-right 200px

.second-reason
	margin-left 200px

.reason__number-first
	margin-left 85px
	position relative
	&::after
		content ''
		sprite($icon_left_arrow_guarantee)
		position absolute
		bottom 65px
		left 45px

.reason__number-second
	margin-left 123px
	position relative
	&::after
		content ''
		sprite($icon_right_arrow_guarantee)
		position absolute
		bottom 65px
		right 45px

.solve-recipes
	margin-top 30px
	text-align center

.solve-recipe
	width 360px
	display inline-block
	vertical-align top
	text-align left
	&:first-child
		padding-right 36px
	&:last-child
		padding-left 36px

	h6
		margin-top 0
		margin-bottom 15px

	.icon-glasses
		margin-bottom 24px

	&--gray
		text-align center
		width 350px
		padding 40px 30px 60px
		background-color #f6f6f6
		border-bottom 3px solid #e6e6e6
		position relative

.down
	width 40px
	height 40px
	background-color #e14013
	text-align center
	position absolute
	bottom -20px
	border-radius 50%
	left 50%
	margin-left -20px
	.icon-arrow-down-fff-10x6
		vertical-align top
		margin-top 18px

.obligation
	&__sections
		text-align left
	&__left
		padding-left 110px
		padding-right 30px

	&__right
		padding-right 110px
		padding-left 30px
	&__heading
		margin-top 0
	&__default-ul
		margin-left 20px
		li
			margin-bottom 15px


.connection
	&__profile
		width 113px
		float left

	&__call
		float left
		padding-top 15px
		padding-left 7px
		width 210px
		line-height 1
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		&__phone
			display block
			margin-bottom 12px
			text-decoration none
		&__area
			vertical-align top
			font-size 17px
			padding 0 11px 0 16px
			color #999
			display inline-block
			margin-top 2px
		&__number
			vertical-align top
			font-size 18px
			color #333
		&__btn
			padding 11px 14px 10px
			font-size 14px
			border-radius 3px

	&__photo
		border-radius 50%
		border 1px solid #d7d7d7
		margin-bottom 6px

	&__name
		font-style italic
		font-size 12px
		line-height 1.2

	&__position
		font-size 12px
		font-style italic
		color #999
		display block

	&__address
		display inline-block
		font-size 15px
		margin-top 11px
		&-line
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif

	&__metro
		margin-top 5px

	&__metro-name
		font-size 15px
		color #555
		display inline-block
		vertical-align top
		line-height 20px
		margin-left 8px

	&__icon-map
		vertical-align top
		margin-right 7px

	&__map-link
		font-size 13px
		color #959595
		border-bottom-color #959595
		&:hover
			color #111
			border-bottom-color #111

.exceptions
	text-align left
	padding 50px 210px 80px

.exception
	margin-left 100px
	&__icon
		float left
		margin-top 7px

.sample
	&__check
		float right
		margin-top 23px
	&__heading
		text-align left
		small
			margin 3px 0 0
			text-align left
		&-small
			margin-left 55px
			margin-bottom 0
	&__number-round
		float left
	&__caption
		margin-left 55px
		color #777
	&__warranty-img
		display block
		margin 0 auto

.thanks
	&__icons
		display inline-block
		margin-top 60px
	&__icon-left
		margin-right 12px
	&__caption
		margin 30px auto 85px
		color #000
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-weight light
		font-size 20px
		max-width 564px

.law
	&__head
		position relative
		&::before
			content ''
			width 341px
			height 113px
			position absolute
			top 7px
			left calc(100% + 16px)
			background url('../images/pattern-color-right-341x113.png') no-repeat
		&::after
			content ''
			width 341px
			height 113px
			position absolute
			top 7px
			right calc(100% + 16px)
			background url('../images/pattern-color-left-341x113.png') no-repeat

	&__heading
		margin-top 80px
		margin-bottom 27px
		small
			color #111
			margin-top 5px

	&__details
	&__list
		text-align left
	&__caption
		font-style italic
		font-size 15px
		margin-bottom 80px

.dash
	background-color #111
	width 20px
	height 4px
	display block
	margin 0 auto 30px
	border-radius 2px


.down
	.icon-arrow-down
		vertical-align top
		margin-top 18px

.block--yellow
	background-color #FFFCDD
	padding 40px 36px 40px
