button
.btn
	text-decoration none
	font-weight light

	&:focus
	&:active
		outline-style none

	&:hover
		transition all 0s
		text-decoration none
		color #FFF
// 46
.btn
	font-size 16px
	padding 11px 39px

	&-xsm
		font-size 12px
		padding 2px 12px
		border-radius 2px
	// 34
	&-sm
		font-size 15px
		padding 5px 24px
		border-radius 2px
	// 48
	&-med
		font-size 16px
		padding 12px 24px
	// 56
	&-lg
		font-size 18px
		padding 15px 31px

	&--default
		border 0

		&
		&:focus
		&.focus
			background-color #E14013
			color #fff

		&:hover
			background-color #EE3C0A

		&:active
			&
			&:focus
			&.focus
				background-color #C93005
				color #FFF
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				background-color #C93005
				color #FFF
				box-shadow none

	&--red
		border 0

		&
		&:focus
		&.focus
			background-color #E14013
			color #fff

		&:hover
			background-color #111

		&:active
			&
			&:focus
			&.focus
				background-color #000
				color #FFF
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				background-color #000
				color #FFF
				box-shadow none

	&--dark
		border 0

		&
		&:focus
		&.focus
			background-color #252525
			color #fff

		&:hover
			background-color #111

		&:active
			&
			&:focus
			&.focus
				background-color #000
				color #FFF
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				background-color #000
				color #FFF
				box-shadow none

	&--ghost
		background-color rgba(0,0,0,0)

		&-gray
			color #959595
			border-color #d7d7d7

			&:hover
				color #555
				background-color #d7d7d7

		&-dark
			font-weight semibold
			color #111
			border-color #111

			&:hover
				background-color #111
				color #FFF

		&-brown
			font-weight light
			color #111
			border-color #363636

			&:hover
				background-color #363636
				color #FFF

		&:active
			&
			&:focus
			&.focus
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				box-shadow none

.header__search-btn
	position absolute
	top 0
	right 0
	font-size 13px
	padding-top 7px
	padding-bottom 7px

.btn--callback
	margin-left 10px

.subscribe__btn
	width 100%
	font-weight regular

	&--white
		border-color #fff
		color #fff
		&:hover
			background-color #fff
			color #191919

	&--red
		border-color #E14013
		color #E14013
		&:hover
			background-color #E14013
			color #191919

.not-found__search-btn
	padding 14px 35px
	vertical-align top

.not-found__btn-callback
	padding 14px 35px
	vertical-align top
	margin-top 15px
	margin-bottom 12px

.more-videos-btn
	padding-top 4px
	padding-bottom 4px
	&__icon-arrow
		vertical-align top
		margin-left 11px
		margin-top 7px
	&:hover
		.more-videos-btn__icon-arrow
			sprite($icon_arrow_down_f)

.show-more-btn
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	padding-top 14px
	padding-bottom 14px
	font-weight light

	&__icon
		vertical-align top
		margin-left 18px
		margin-top 10px
