button
.btn
	text-decoration none
	font-weight light
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif

	&:focus
	&:active
		outline-style none

	&:hover
		transition all 0s
		text-decoration none
		color #FFF
// 46
.btn
	font-size 16px
	padding 11px 39px

	&-xsm
		font-size 12px
		padding 2px 12px
		border-radius 2px
	// 34
	&-sm
		font-size 15px
		padding 5px 24px
		border-radius 2px
	// 48
	&-med
		font-size 16px
		padding 12px 24px
	// 56
	&-lg
		font-size 18px
		padding 15px 31px
		border-radius 4px

	&--default
		border 0

		&
		&:focus
		&.focus
			background-color #E14013
			color #fff

		&:hover
			background-color #EE3C0A

		&:active
			&
			&:focus
			&.focus
				background-color #C93005
				color #FFF
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				background-color #C93005
				color #FFF
				box-shadow none

	&--red
		border 0

		&
		&:focus
		&.focus
			background-color #c93005
			color #fff

		&:hover
			background-color #ee3c0a

		&:active
			&
			&:focus
			&.focus
				background-color #c93005
				color #FFF
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				background-color #c93005
				color #FFF
				box-shadow none

	&--dark
		border 0

		&
		&:focus
		&.focus
			background-color #252525
			color #fff

		&:hover
			background-color #111

		&:active
			&
			&:focus
			&.focus
				background-color #000
				color #FFF
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				background-color #000
				color #FFF
				box-shadow none

	&--ghost
		background-color rgba(0,0,0,0)

		&-gray
			color #959595
			border-color #d7d7d7

			&:hover
			&:active
				color #555
				background-color #d7d7d7

		&-dark
			font-weight semibold
			color #111
			border-color #111

			&:hover
			&:active
				background-color #111
				color #FFF

		&-brown
			font-weight light
			color #111
			border-color #363636

			&:hover
			&:active
				background-color #363636
				color #FFF

		&-white
			font-weight normal
			color #FFF
			border-color #FFF

			&:hover
			&:active
				background-color #FFF
				color #111



		&:active
			&
			&:focus
			&.focus
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				box-shadow none

.header__search-btn
	position absolute
	top 4px
	right 0
	font-size 13px
	padding-top 7px
	padding-bottom 7px

.btn--callback
	margin-left 10px

.subscribe__btn
	width 100%
	font-weight normal
	border-width 2px
	padding-top 10px
	padding-bottom 10px

	+tablet()
		border-width 1px
		font-size 18px
		text-transform uppercase
		padding-top 7px
		padding-bottom 7px
		width auto
		border-radius 2px

	&--white
		border-color #fff
		color #fff
		&:hover
			background-color #fff
			color #191919

	&--red
		border-color #E14013
		color #E14013
		&:hover
			background-color #E14013
			color #191919

.not-found__search-btn
	padding 14px 35px
	vertical-align top
	+below(4)
		display none

.not-found__btn-wrap
	display inline-block
	+below(4)
		order 4
		margin-bottom 25px
.not-found__btn-callback
	padding 14px 35px
	vertical-align top
	margin-top 15px
	margin-bottom 12px
	+below(4)
		padding 9px 25px
		text-transform uppercase
		font-weight normal
		&
		&:focus
		&.focus
			background-color #c93005
			color #fff

		&:hover
			background-color #ee3c0a

		&:active
			&
			&:focus
			&.focus
				background-color #c93005
				color #FFF
				box-shadow none
		&.active
			&
			&:focus
			&.focus
				background-color #c93005
				color #FFF
				box-shadow none

.more-videos-btn
	padding-top 4px
	padding-bottom 4px
	&__icon-arrow
		vertical-align top
		margin-left 11px
		margin-top 7px
	&:hover
		.more-videos-btn__icon-arrow
			sprite($icon_arrow_down_f)

.product__buy-btn
.product__set-btn
	display inline-block
	vertical-align top
	position relative
	z-index 2
	max-width 50%

.product__buy-btn
	font-weight normal
	padding-right 20px
	padding-left 20px
	&--hot
		padding 10px 45px
		font-weight normal
		max-width 100%

.product__set-btn
	padding-left 14px
	padding-right 14px
	width 50%

.product__buy-btn--sidebar
	border-radius 2px
	font-weight normal


.show-more-btn
	padding-top 14px
	padding-bottom 14px
	font-weight light

	&__icon
		vertical-align top
		margin-left 18px
		margin-top 10px

.set-all__result__buy-set-btn
	font-size 14px
	font-weight normal
	padding-top 9px
	padding-bottom 9px

.btn-more__icon
	margin-left 9px

.subscribe-popup__form__btn
	height 44px
	padding 11px 38px
	font-weight normal

.category-tile__buy-btn
	padding-left 0
	padding-right 0
	text-align center
	font-weight normal

.subscribe-section-big__form__btn
	font-weight normal
	padding-top 13px
	padding-bottom 13px
	margin-top 10px

.modal__form
	&__login-btn
	&__forgot-btn
	&__register-btn
		font-weight normal

	&__login-btn
		font-size 18px
		padding-top 9px
		padding-bottom 10px
		vertical-align bottom

	&__forgot-btn
		font-size 14px
		padding-left 14px
		padding-right 14px

	&__register-btn
		margin-left 6px
		font-weight semibold
		font-size 14px
		padding-left 17px
		padding-right 17px

.pick__btn
	font-size 14px
	padding 6px 30px
	border-radius 3px
	font-weight normal

.pick__show-btn
	font-size 14px
	font-weight normal
	padding 4px 20px 5px
	margin-left 13px
	margin-right 6px
	vertical-align baseline

.banner__show-btn
	border-width 2px
	padding-top 10px
	padding-bottom 10px

.banner-horizontal__buy-btn
	font-weight normal
	padding-top 5px
	padding-bottom 5px
	border-radius 3px
	position relative
	z-index 2

.banner-vertical__show-btn
	font-size 15px
	background #111
	padding-top 6px
	padding-bottom 6px
