mixin button(name,type)
	case type
		when 'button'
			button(type='button').btn&attributes(attributes)
				block
		when 'buttonSubmit'
			button(type='submit').btn&attributes(attributes)
				block
		when 'input'
			input.btn(type='button',value=name)&attributes(attributes)
		when 'submit'
			input.btn(type='submit',value=name)&attributes(attributes)
		default
			a.btn(href= jv0, role='button')&attributes(attributes)
				block
