.container-20
	clearfix()
	margin-right auto
	margin-left auto
	padding-left 8px
	padding-right 8px

@media (min-width: 720px)
	.container-20
		width 736px

@media (min-width: 990px)
	.container-20
		width 100%

@media (min-width: 1360px)
	.container-20
		width 1336px

.container-20-fluid
	clearfix()
	margin-right auto
	margin-left auto
	padding-left 8px
	padding-right 8px

.container-20-outer
	@extend .container-20
	padding-left 20px
	padding-right 20px

.row-20
	clearfix()
	margin-left -8px
	margin-right -8px

.col-xs-20-1, .col-sm-20-1, .col-md-20-1, .col-lg-20-1, .col-xs-20-2, .col-sm-20-2, .col-md-20-2, .col-lg-20-2, .col-xs-20-3, .col-sm-20-3, .col-md-20-3, .col-lg-20-3, .col-xs-20-4, .col-sm-20-4, .col-md-20-4, .col-lg-20-4, .col-xs-20-5, .col-sm-20-5, .col-md-20-5, .col-lg-20-5
	position relative
	min-height 1px
	padding-left 8px
	padding-right 8px

.col-xs-20-1, .col-xs-20-2, .col-xs-20-3, .col-xs-20-4, .col-xs-20-5
	float left

.col-xs-20-5
	width 100%

.col-xs-20-4
	width 80%

.col-xs-20-3
	width 60%

.col-xs-20-2
	width 40%

.col-xs-20-1
	width 20%

.col-xs-20-pull-5
	right 100%

.col-xs-20-pull-4
	right 80%

.col-xs-20-pull-3
	right 60%

.col-xs-20-pull-2
	right 40%

.col-xs-20-pull-1
	right 20%

.col-xs-20-pull-0
	right auto

.col-xs-20-push-5
	left 100%

.col-xs-20-push-4
	left 80%

.col-xs-20-push-3
	left 60%

.col-xs-20-push-2
	left 40%

.col-xs-20-push-1
	left 20%

.col-xs-20-push-0
	left auto

.col-xs-20-offset-5
	margin-left 100%

.col-xs-20-offset-4
	margin-left 80%

.col-xs-20-offset-3
	margin-left 60%

.col-xs-20-offset-2
	margin-left 40%

.col-xs-20-offset-1
	margin-left 20%

.col-xs-20-offset-0
	margin-left 0%

@media (min-width: 720px)
	.col-sm-20-1, .col-sm-20-2, .col-sm-20-3, .col-sm-20-4, .col-sm-20-5
		float left

@media (min-width: 720px)
	.col-sm-20-5
		width 100%
	.col-sm-20-4
		width 80%
	.col-sm-20-3
		width 60%
	.col-sm-20-2
		width 40%
	.col-sm-20-1
		width 20%
	.col-sm-20-pull-5
		right 100%
	.col-sm-20-pull-4
		right 80%
	.col-sm-20-pull-3
		right 60%
	.col-sm-20-pull-2
		right 40%
	.col-sm-20-pull-1
		right 20%
	.col-sm-20-pull-0
		right auto
	.col-sm-20-push-5
		left 100%
	.col-sm-20-push-4
		left 80%
	.col-sm-20-push-3
		left 60%
	.col-sm-20-push-2
		left 40%
	.col-sm-20-push-1
		left 20%
	.col-sm-20-push-0
		left auto
	.col-sm-20-offset-5
		margin-left 100%
	.col-sm-20-offset-4
		margin-left 80%
	.col-sm-20-offset-3
		margin-left 60%
	.col-sm-20-offset-2
		margin-left 40%
	.col-sm-20-offset-1
		margin-left 20%
	.col-sm-20-offset-0
		margin-left 0%

@media (min-width: 990px)
	.col-md-20-1, .col-md-20-2, .col-md-20-3, .col-md-20-4, .col-md-20-5
		float left

@media (min-width: 990px)
	.col-md-20-5
		width 100%
	.col-md-20-4
		width 80%
	.col-md-20-3
		width 60%
	.col-md-20-2
		width 40%
	.col-md-20-1
		width 20%
	.col-md-20-pull-5
		right 100%
	.col-md-20-pull-4
		right 80%
	.col-md-20-pull-3
		right 60%
	.col-md-20-pull-2
		right 40%
	.col-md-20-pull-1
		right 20%
	.col-md-20-pull-0
		right auto
	.col-md-20-push-5
		left 100%
	.col-md-20-push-4
		left 80%
	.col-md-20-push-3
		left 60%
	.col-md-20-push-2
		left 40%
	.col-md-20-push-1
		left 20%
	.col-md-20-push-0
		left auto
	.col-md-20-offset-5
		margin-left 100%
	.col-md-20-offset-4
		margin-left 80%
	.col-md-20-offset-3
		margin-left 60%
	.col-md-20-offset-2
		margin-left 40%
	.col-md-20-offset-1
		margin-left 20%
	.col-md-20-offset-0
		margin-left 0%

@media (min-width: 1360px)
	.col-lg-20-1, .col-lg-20-2, .col-lg-20-3, .col-lg-20-4, .col-lg-20-5
		float left

@media (min-width: 1360px)
	.col-lg-20-5
		width 100%
	.col-lg-20-4
		width 80%
	.col-lg-20-3
		width 60%
	.col-lg-20-2
		width 40%
	.col-lg-20-1
		width 20%
	.col-lg-20-pull-5
		right 100%
	.col-lg-20-pull-4
		right 80%
	.col-lg-20-pull-3
		right 60%
	.col-lg-20-pull-2
		right 40%
	.col-lg-20-pull-1
		right 20%
	.col-lg-20-pull-0
		right auto
	.col-lg-20-push-5
		left 100%
	.col-lg-20-push-4
		left 80%
	.col-lg-20-push-3
		left 60%
	.col-lg-20-push-2
		left 40%
	.col-lg-20-push-1
		left 20%
	.col-lg-20-push-0
		left auto
	.col-lg-20-offset-5
		margin-left 100%
	.col-lg-20-offset-4
		margin-left 80%
	.col-lg-20-offset-3
		margin-left 60%
	.col-lg-20-offset-2
		margin-left 40%
	.col-lg-20-offset-1
		margin-left 20%
	.col-lg-20-offset-0
		margin-left 0%

