.container-25
	clearfix()
	margin-right auto
	margin-left auto
	padding-left 8px
	padding-right 8px

@media (min-width: 720px)
	.container-25
		width 736px

@media (min-width: 990px)
	.container-25
		width 956px

@media (min-width: 1360px)
	.container-25
		width 1156px

.container-25-fluid
	clearfix()
	margin-right auto
	margin-left auto
	padding-left 8px
	padding-right 8px

.container-25-outer
	@extend .container-25
	padding-left 20px
	padding-right 20px

.row-25
	clearfix()
	margin-left -8px
	margin-right -8px

.col-xs-25-1, .col-xs-25-2, .col-xs-25-3, .col-xs-25-4
	float left

.col-xs-25-4
	width 100%

.col-xs-25-3
	width 75%

.col-xs-25-2
	width 50%

.col-xs-25-1
	width 25%

.col-xs-25-pull-4
	right 100%

.col-xs-25-pull-3
	right 75%

.col-xs-25-pull-2
	right 50%

.col-xs-25-pull-1
	right 25%

.col-xs-25-pull-0
	right auto

.col-xs-25-push-4
	left 100%

.col-xs-25-push-3
	left 75%

.col-xs-25-push-2
	left 50%

.col-xs-25-push-1
	left 25%

.col-xs-25-push-0
	left auto

.col-xs-25-offset-4
	margin-left 100%

.col-xs-25-offset-3
	margin-left 75%

.col-xs-25-offset-2
	margin-left 50%

.col-xs-25-offset-1
	margin-left 25%

.col-xs-25-offset-0
	margin-left 0%

@media (min-width: 720px)
	.col-sm-25-1, .col-sm-25-2, .col-sm-25-3, .col-sm-25-4
		float left

@media (min-width: 720px)
	.col-sm-25-4
		width 100%
	.col-sm-25-3
		width 75%
	.col-sm-25-2
		width 50%
	.col-sm-25-1
		width 25%
	.col-sm-25-pull-4
		right 100%
	.col-sm-25-pull-3
		right 75%
	.col-sm-25-pull-2
		right 50%
	.col-sm-25-pull-1
		right 25%
	.col-sm-25-pull-0
		right auto
	.col-sm-25-push-4
		left 100%
	.col-sm-25-push-3
		left 75%
	.col-sm-25-push-2
		left 50%
	.col-sm-25-push-1
		left 25%
	.col-sm-25-push-0
		left auto
	.col-sm-25-offset-4
		margin-left 100%
	.col-sm-25-offset-3
		margin-left 75%
	.col-sm-25-offset-2
		margin-left 50%
	.col-sm-25-offset-1
		margin-left 25%
	.col-sm-25-offset-0
		margin-left 0%

@media (min-width: 990px)
	.col-md-25-1, .col-md-25-2, .col-md-25-3, .col-md-25-4
		float left

@media (min-width: 990px)
	.col-md-25-4
		width 100%
	.col-md-25-3
		width 75%
	.col-md-25-2
		width 50%
	.col-md-25-1
		width 25%
	.col-md-25-pull-4
		right 100%
	.col-md-25-pull-3
		right 75%
	.col-md-25-pull-2
		right 50%
	.col-md-25-pull-1
		right 25%
	.col-md-25-pull-0
		right auto
	.col-md-25-push-4
		left 100%
	.col-md-25-push-3
		left 75%
	.col-md-25-push-2
		left 50%
	.col-md-25-push-1
		left 25%
	.col-md-25-push-0
		left auto
	.col-md-25-offset-4
		margin-left 100%
	.col-md-25-offset-3
		margin-left 75%
	.col-md-25-offset-2
		margin-left 50%
	.col-md-25-offset-1
		margin-left 25%
	.col-md-25-offset-0
		margin-left 0%

@media (min-width: 1360px)
	.col-lg-25-1, .col-lg-25-2, .col-lg-25-3, .col-lg-25-4
		float left

@media (min-width: 1360px)
	.col-lg-25-4
		width 100%
	.col-lg-25-3
		width 75%
	.col-lg-25-2
		width 50%
	.col-lg-25-1
		width 25%
	.col-lg-25-pull-4
		right 100%
	.col-lg-25-pull-3
		right 75%
	.col-lg-25-pull-2
		right 50%
	.col-lg-25-pull-1
		right 25%
	.col-lg-25-pull-0
		right auto
	.col-lg-25-push-4
		left 100%
	.col-lg-25-push-3
		left 75%
	.col-lg-25-push-2
		left 50%
	.col-lg-25-push-1
		left 25%
	.col-lg-25-push-0
		left auto
	.col-lg-25-offset-4
		margin-left 100%
	.col-lg-25-offset-3
		margin-left 75%
	.col-lg-25-offset-2
		margin-left 50%
	.col-lg-25-offset-1
		margin-left 25%
	.col-lg-25-offset-0
		margin-left 0%

