.icon-glasses
	sprite($icon_glasses)

.icon-arrow-down
	sprite($icon_arrow_down)

.icon-arrow-down-f
	sprite($icon_arrow_down_f)
.icon-arrow-down-10-f
	sprite($icon_arrow_down_10_f)

.icon-map
	sprite($icon_map)

.icon-metro
	sprite($icon_metro)

.icon-vel-18
	sprite($icon_vel_18)

.icon-mts-18
	sprite($icon_mts_18)

.icon-box
	sprite($icon_box)

.icon-wrench
	sprite($icon_wrench)

.icon-moneyback
	sprite($icon_moneyback)

.icon-exception
	sprite($icon_exception)

.icon-man-dark-big
	sprite($icon_man_dark_big)

.icon-woman-red-big
	sprite($icon_woman_red_big)

.icon-withdrawal
	sprite($icon_withdrawal)
.icon-stock
	sprite($icon_stock)
.icon-stock-percent
	sprite($icon_stock_percent)
.icon-calculator
	sprite($icon_calculator)

.icon-return
	sprite($icon_return)
.icon-cart
	sprite($icon_cart)
.icon-enter
	sprite($icon_enter)
.icon-truck-delivery
	sprite($icon_truck_delivery)

.icon-plus-11
	sprite($icon_plus_11)
.icon-close-12
	sprite($icon_close_12)
.icon-check-green
	sprite($icon_check_green)
.icon-star-rating
	sprite($icon_star_rating)
.icon-star-rating-gray
	sprite($icon_star_rating_gray)

.icon-price-label
	sprite($icon_price_label)

.icon-price-compare
	sprite($icon_libra)

.icon-price-favorites
	sprite($icon_star)
.icon-timer
	sprite($icon_clock_orange)
.icon-scissors
	sprite($icon_scissors)
.icon-wire-transfer
	sprite($icon_wire_transfer)
.icon-calendar-48
	sprite($icon_calend_48)
.icon-arrow-right
	sprite($icon_arrow_long_right)

.icon-speech-baloon
	sprite($icon_speech_baloon_ccc_12)

.icon-feather
	sprite($icon_feather_gray)
.icon-delivery
	sprite($icon_truck_small_gray)
.icon-review
	sprite($icon_review_gray)
.icon-info
	sprite($icon_info_gray)
.icon-help
	sprite($icon_help_gray)
.icon-trash
	sprite($icon_trash)

.icon-equal-111-11-9
	sprite($icon_equal_111_11_9)
.icon-plus-111-11
	sprite($icon_plus_111_11)

.icon-caret-up
	sprite($icon_caret_up)
.icon-caret-down
	sprite($icon_caret_down)
