s.nav-tabs.product-nav-tabs
	display table
	width 100%
	& > li
		display table-cell
		float none
		margin-bottom 0
		vertical-align top
		& > a
			height 53px
			white-space nowrap
			padding-left 0
			padding-right 0
			text-align center
			background-color #F8F8F8
			margin-top 10px
			border-radius 0
			border 1px solid #ebebeb
			border-bottom-color transparent
			border-top-width 4px
			margin-right 0
			transition margin 0s, padding 0s
			text-decoration none
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			font-size 14px
			color #333
			padding-bottom 18px
			padding-top 12px
			line-height 1
			vertical-align bottom
			// icon margin-top = total height - border-top-width - padding-top - padding-bottom - icon-height
			// icon-info example: 53-4-12-18-25
			.icon-feather
				vertical-align bottom
				position relative
				top 3px
				margin-top -8px
				margin-right 7px
			.icon-info
				vertical-align bottom
				position relative
				margin-top -6px
				top 6px
				margin-right 17px
			.icon-review
				vertical-align bottom
				position relative
				top 5px
				margin-top -5px
				margin-right 17px
			.icon-help
				vertical-align bottom
				position relative
				top 6px
				margin-top -6px
				margin-right 17px
			.icon-delivery
				vertical-align bottom
				position relative
				top 4px
				margin-top -1px
				margin-right 19px
			&:hover
			&:focus
				margin-top 0
				padding-top 22px
				height 63px
				text-decoration underline
				border-bottom-color transparent

		&.active
			& > a
				margin-top 0
				padding-top 22px
				height 63px
				text-decoration none
				background-color #FFF
				&
				&:hover
				&:focus
					border-top-width 4px

				.icon-feather
					sprite($icon_feather_red)
				.icon-delivery
					sprite($icon_truck_small_red)
				.icon-review
					sprite($icon_review_red)
				.icon-info
					sprite($icon_info_red)
				.icon-help
					sprite($icon_help_red)

	&__text
		display inline-block
		vertical-align bottom

.tablet__social-nav
	width 100px
	padding-top 23px
	border none
	& > li
		margin-bottom 9px

		& > a
			&
			&:hover
			&:focus
				margin 0
				padding 0
				height 76px
				border none
				background none
		&.active > a
			&
			&:hover
			&:focus
				border none
				background none

.menu-popup__nav-tabs
	position absolute
	top 0
	bottom 0
	left 0
	width 300px
	border 1px solid #ddd
	border-bottom none

	padding-top 10px
	background-color #F5F5F5
	& > li
		margin-bottom 0
		border-bottom 1px solid #ddd
		float none

		& > a
			line-height 54px
			text-decoration none
			font-size 14px
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			color #333
			padding-left 54px
			border-radius 0
			position relative
			&::after

				position absolute
				top 50%
				margin-top -7px
				width 0
				height 0
				border-style solid
				border-width 7px 11px 7px 0
				border-color transparent #fff transparent transparent
				right -1px
			&
			&:hover
			&:focus
				margin 0
				padding 0
				height 54px
				border none
				background transparent
		&.active > a
			&::after
				content ''
			&
			&:hover
			&:focus
				color #FFF
				border none
				background #E14013

.menu-popup__icon-wrap
	position relative
	float left
	width 54px
	height 54px
	display block
	text-align center

.menu-popup__icon
	vertical-align middle



.subheader-nav-tabs
	display inline-block
	vertical-align top
	border-bottom none

	&-outer
		text-align center

	&-outer--small
		background-color #F6F6F6
		border 1px solid #EBEBEB
		border-radius 2px
		position relative

	.nav-tabs&
		& > li
			display inline-block
			margin-bottom 0
			vertical-align top

			& > a
				font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
				text-decoration none
				font-size 14px
				color #333
				border none
				border-radius 0
				margin-right 0
				margin-top -1px
				padding 15px 9px 14px
				&:hover
				&:focus
					background-color #EBEBEB

			&.active > a
				background-color #E14013
				color #FFF
				border-radius 2px
				position relative
				&:hover
				&:focus
					border none
				&::after
					position absolute
					z-index 1
					left 50%
					margin-left -6px
					bottom -5px
					content ''
					width 0
					height 0
					border-width 5px 5.5px 0 5.5px
					border-style solid
					border-color #E14013 transparent transparent transparent
					-webkit-transform rotate(360deg)

		&--small
			& > li
				&:first-child
					& > a
						margin-left -1px
					& > a
					&.active > a
						border-top-left-radius 2px
						border-bottom-left-radius 2px
				& > a
					padding 14px 24px 13px
					background-color #F6F6F6
					border 1px solid #EBEBEB
					margin-bottom -1px
					&:hover
					&:focus
						border-color #EBEBEB

				&.active > a
					background-color #111
					border-radius 2px
					border-color #111
					&:hover
					&:focus
						border 1px solid #111
					&::after
						border-color #111 transparent transparent transparent

.nav-tabs
	&__position
		position absolute
		top 13px
		right 15px
		font-size 0
		&-link
			& + &
				display inline-block
				vertical-align top
				margin-left 20px
			.nav-tabs__position__icon-tiles
				sprite($icon_tiles_dark_19x19)
			.nav-tabs__position__icon-rows
				sprite($icon_burger_dark_19x19)

			&:hover
				.nav-tabs__position__icon-tiles
					sprite($icon_tiles_hover_19x19)
				.nav-tabs__position__icon-rows
					sprite($icon_burger_hover_19x19)

			&--is-active
				.nav-tabs__position__icon-tiles
					sprite($icon_tiles_red_19x19)
				.nav-tabs__position__icon-rows
					sprite($icon_burger_red_19x19)

.product-lp-nav
	border-top 4px solid #dddde0
	background-color #F3F3F5
	border-bottom 3px solid #e14013
	font-size 0
	white-space nowrap
	text-align center
	position relative
	&.nav > &__item
		margin-top -4px
		border-top 4px solid #dddde0
		display inline-block
		vertical-align top
		position relative
		margin-right 1px
		& + &
			&::before
				content ''
				position absolute
				background-color #E1E1E1
				width 1px
				top 25px
				bottom 25px
				left -1px
		&.active
			border-top-color #E14013
			& + .product-lp-nav__item
				&::before
					content none
	&.nav > li.active > .product-lp-nav__link
		background-color #e14013

		&
		&:hover
		&:focus
		&:active
			color #fff
			background-color #e14013


	&__icon
		margin-right 15px
		vertical-align middle
		margin-top -3px

	// &__text

	&.nav > li > &__link
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-size 14px
		display block
		padding 30px 30px 0
		height 86px

		&
		&:hover
		&:focus
		&:active
			text-decoration none
			color #333


		&:hover
		&:focus
		&:active
			background-color #ebebeb

		&:hover
			.product-lp-nav__text
				text-decoration underline

	&__text
		text-decoration none

