mixin content
	.container&attributes(attributes)
		.row
			block

mixin content-outer()
	.container-outer&attributes(attributes)
		.row
			block

mixin content-20()
	.container-20&attributes(attributes)
		.row-20
			block

mixin content-20-outer()
	.container-20-outer&attributes(attributes)
		.row-20
			block
