.delivery
	&-payment
		&__caption
			text-align center


		&__features
			margin-top 30px
			text-align center
			font-size 0

		&__feature
			display inline-block
			width 250px
			vertical-align top

			& + &
				margin-left 100px

			&-img-wrap
				height 200px
				position relative
				vertical-align bottom

			&-img
				display inline-block
				vertical-align bottom
				&--money
					margin-top 17px
				&--receipt
					margin-top 43px
				&--mailbox
					margin-top 16px

			&-heading
				text-align left
				margin-top 20px
				margin-bottom 20px

			&-text
				font-size 15px
				text-align left

			&-count
				position absolute
				bottom 8px
				left 50%
				margin-left -20px
				border-radius 50%
				display inline-block
				text-align center
				width 40px
				height 40px
				font-size 24px
				background-color #252525
				color #FFF
				line-height 40px


	&__intro
		height 370px
		margin 0 auto
		// width 1088px
		background #FCFCFC url('../images/credit-intro.png') no-repeat center center
		&__heading-light
			font-weight light
			font-size 32px
			color #252525

		&__heading-bold
			font-size 44px
			color #252525

	&__location-map
		height 500px

	&__headlines-left
		float left

	&__headlines-right
		float right

	&__documents
		background-color #F6F6F6
		padding-top 92px
		padding-bottom 65px
		border-top 1px solid #E1E1E1
		border-bottom 1px solid #E1E1E1

.documents__heading
	margin-top 0
	margin-bottom 0
	small
		margin-top 0
		margin-bottom 30px

.condition
	text-align left
	width 470px
	margin-bottom 40px
	&__icon
		float left
	&__text
		margin-left 90px
	&__default-ul
		margin-left 20px
		li
			margin-bottom 10px
	&__heading
		margin-top 30px



.help
	padding-top 86px
	padding-bottom 90px
	background-color #F6F6F6
	&__center
		width 900px
		height 367px
		border 1px solid #E1E1E1
		border-radius 2px
		background-color #FFF
		position relative
		&::after
			content ''
			width 231px
			height 135px
			position absolute
			right -231px
			top 50%
			margin-top -68px
			background url('../images/pattern-color-big-right.png') no-repeat
		&::before
			content ''
			width 230px
			height 135px
			position absolute
			top 50%
			left -230px
			margin-top -68px
			background url('../images/pattern-color-big-left.png') no-repeat
	&__photo
		position absolute
		bottom 0
		left 80px
	&__call
		margin-left 427px
	&__heading
		font-size 38px
		color #111
		margin-bottom 7px
	&__subheading
		font-size 28px
		color #D74125
		margin-top 7px
		margin-bottom 20px
