include ../../layout/content/content
include ../../layout/breadcrumb/breadcrumb
include ../../basic/link/link
include ../../basic/button/button
include ../../basic/details/details
include ../../basic/phone/phone
include ../../layout/nav-main/nav-main

mixin delivery()
	block vars
	- var	order = pageId === 'order'

	+nav-main()
	+content-outer()
		.inner.inner--w1360
			.col-md-6
				+breadcrumb(['Главная', pageTitle])
	section.delivery__payment
		h1.delivery__heading-main Оплата
		p.caption
			| Наша задача — предоставить Вам максимально комфортные условия по минимальной цене.
			| Поэтому, мы исключаем всех посредников и не работаем с банковскими терминалами для оплаты пластиковыми картами, т.к это увеличивает стоимость товара на несколько процентов.
	section.delivery__location
		h2.delivery__location__heading Самовывоз
		.delivery__location-map
			<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=V4sidRrcu64JsAX_eB1YkU2mRkHsicGW&width=100%&height=100%&lang=ru_RU&sourceType=constructor"></script>
	section.help
		.inner.inner--w900
			.help__center
				.help__photo
					img(src="./assets/images/help-photo.jpg", alt="Позвони мне")
				.help__call
					h2.help__heading Нужна помощь?
					h3.help__subheading Звони сейчас
					+phone({})


