.label
	font-size 14px
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif

	.not-found__&
		margin-right 7px

.label-default
	border-radius 2px
	font-size 12px
	// nb PT Sans
	color #888
	text-transform lowercase

.label-info
	color #FFF
	border-radius 2px
	font-size 13px
	font-weight bold
	font-family $font-family-sans-serif
