.aside
	&__labels
		position absolute
		z-index 2

		&--product
			top 78px
			left -1px

		&--promo
			top 30px
			left -1px

	&__label
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-weight semibold
		font-size 18px
		display inline-block
		color #FFF
		line-height 1
		padding 10px 12px 10px 8px
		background-color #FF503F
		border-left 4px solid #f13d2b
		margin-bottom 2px
		&--discount
			background-color #FF503F
			border-left-color #f13d2b
		&--new
			background-color #8DC63F
			border-left-color #6CA61C
		&--hit
			background-color #FF7300
			border-left-color #E26702

