include ../content/content
include ../category-tile/category-tile

mixin showcase-categories()
	section.showcase__categories
		+content-outer()
			.col-md-2
				+category-tile({
												title: 'Крупная бытовая техника',
												items: [
																	'Варочные поверхности',
																	'Духовые шкафы',
																	'Вытяжки',
																	'Встраиваемые холодильники',
																	'Встраиваемые стиральные машины',
																	'Стиральные машины'
																]
				})
				+category-tile({
												title: 'Техника для дома',
												items: [
																	'Варочные поверхности',
																	'Духовые шкафы',
																	'Вытяжки',
																	'Встраиваемые холодильники',
																	'Встраиваемые стиральные машины',
																	'Стиральные машины'
																]
				})
			.col-md-2
				+category-tile({
												title: 'Техника для кухни',
												items: [
																	'Варочные поверхности',
																	'Духовые шкафы',
																	'Вытяжки',
																	'Встраиваемые холодильники',
																	'Встраиваемые стиральные машины',
																	'Стиральные машины'
																]
				})
				+category-tile({
												title: 'Техника для красотыи здоровья',
												items: [
																	'Варочные поверхности',
																	'Духовые шкафы',
																	'Вытяжки',
																	'Встраиваемые холодильники',
																	'Встраиваемые стиральные машины',
																	'Стиральные машины'
																]
				})
			.col-md-2
				+category-tile({
												type: 'super offer',
												title: 'Посудомоечная машина Electrolux ESL94300LO'
				}).category-tile--super-offer
				+category-tile({
												type: 'assistant'
				}).hidden-xs

