include ../link/link

mixin reviewSmall()
	span.review-small&attributes(attributes)
		a(href=jv0)
			i.icon-speech-baloon.review-small__icon
			span.review-small__count.js-reviews-count 6
			span.review-small__count
				|  отзывов
