.review-small
	display inline-block
	text-decoration none
	&:hover
		text-decoration none
	&__icon
		vertical-align top
		margin-top 8px
		margin-right 6px
	&__count
		font-size 11px
		line-height 12px
		color #999
		.review-small:hover &
			text-decoration underline

.product__review-small
	margin-right 17px
