- var pageScripts = pageScripts || [['modernizr.custom.min.js'], [], []];

include ../../../node_modules/bemto.jade/bemto.jade
- bemto_settings_modifier = '--'
include ../layout/header/header
include ../main/main
include ../layout/footer/footer
include ../scripts/scripts

+script([], ['app.min.js'])

doctype html
html(lang='ru')
	include ../head/head
	body
		+header()
		+main()
			block content
		+footer()

		+scripts()
