.order-section
	&__head
		height 66px
		background-color #EBEBEB
		color #383838
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-weight bold
		font-size 20px
		line-height 64px
		+tablet()
			height 48px
			line-height 48px
			font-size 18px
			color #010101
	&__number
		width 76px
		height 66px
		background-color #E14013
		color #fff
		border-left 4px solid #B72800
		text-align center
		line-height 64px
		font-weight bold
		font-size 24px
		float left
		margin-right 39px
		+tablet()
			width 57px
			height 48px
			font-size 18px
			line-height 48px
			border-left none
			margin-right 18px
	&__body
		background-color #F6F6F6
		// nb! в дизайне inner shadow why?
		border-left 4px solid #eeeeee
		padding-top 30px
		padding-bottom 40px
