.other
	border-top 1px solid #e1e1e1
	border-bottom 1px solid #EBEBEB
	background-color #F3F3F5
	padding-top 40px
	padding-bottom 80px
	+below(4)
		padding-top 10px
		background-color #FFF
		padding-bottom 10px

	&__heading
		margin-top 20px
		text-align center
		margin-bottom 14px
		+below(4)
			font-size 22px
		+below(2)
			text-align left

	&__tags
		text-align center
		font-size 0
		margin-bottom 41px
		+below(4)
			display none

	&__more
		margin-top 47px
		text-align center

