mixin countdown(argId)
	.countdown(id=argId)&attributes(attributes)
		.countdown__dash.days_dash
			.countdown__field.digit 0
			.countdown__field.digit 0
			.countdown__caption-text дней
		.countdown__dash.hours_dash
			.countdown__field.digit 0
			.countdown__field.digit 0
			.countdown__caption-text часов
		.countdown__dash.minutes_dash
			.countdown__field.digit 0
			.countdown__field.digit 0
			.countdown__caption-text минут
		.countdown__dash.seconds_dash
			.countdown__field.digit 0
			.countdown__field.digit 0
			.countdown__caption-text секунд
	// countdown block end





