include ../../basic/link/link
include ../nav-list/nav-list

mixin nav(elements, type)
	- var item = '';
	- var listItems = elements[type];
		case type
			when 'top'
			when 'main'
				- classes= 'nav--'+type
			default
				- classes= 'nav--'+type
	nav.nav(class=classes)&attributes(attributes)
		if (listItems.length > 1)
			if type === 'main'
				+navList(listItems, type).header-main__nav-list
			else
				+navList(listItems, type)





