include ../button/button

mixin subscribe()
	section.subscribe
		h3.subscribe__heading Ultra предложения
		.subscribe__arrows
			i.icon-left-arrow--footer
			span.subscribe__arrows__caption Подпишись и получи купон на скидку
			i.icon-right-arrow--footer
		.subscribe__forms.clearfix
			.subscribe__form
				.subscribe__head
					span.subscribe__head__txt.subscribe__head__txt--red Для женщин
					i.icon-person-female-49x74.subscribe__head__icon.subscribe__head__icon--person-female
				.subscribe__body
					input(type="email",placeholder='female@gmail.com').subscribe__input
				.subscribe__foot
					+button({type:'buttonSubmit'}).btn-med.btn--ghost.subscribe__btn.subscribe__btn--red
						| Подписаться
			.subscribe__form
				.subscribe__head
					i.icon-person-male-49x74.subscribe__head__icon.subscribe__head__icon--person-male
					span.subscribe__head__txt.subscribe__head__txt--white Для мужчин
				.subscribe__body
					input(type="email",placeholder='male@gmail.com').subscribe__input
				.subscribe__foot
					+button({type:'buttonSubmit'}).btn-med.btn--ghost.subscribe__btn.subscribe__btn--white
						| Подписаться
