.subscribe
	text-align center
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif

	&__heading
		font-size 32px
		color #FFF

	&__arrows__caption
		font-style italic
		font-size 18px
		color #636363
		vertical-align top

	&__form
		width 50%
		float left
		padding-right 81px
		padding-left 107px
		margin-top 50px

		&+&
			padding-left 81px
			padding-right 107px
			border-left 1px solid #363636

	&__head
		text-align left
		&__txt
			font-size 22px
			font-weight light
			vertical-align middle

			&--white
				color #FFF
			&--red
				color #E14013

	&__body
		padding-top 17px

	&__foot
		padding-top 5px

	&__input
		border-radius 2px
		background-color #464646
		box-shadow inset 2px 1px 0px 0px rgba(54, 54, 54, 0.1)
		width 100%
		line-height 1
		height 38px
		padding 14px 11px 10px
		color #FFF
		border 0

		&::placeholder
			font-size 14px
			color #D7D7D7

.icon-right-arrow--footer
	sprite($icon_right_arrow_footer)
	vertical-align top
	margin-top 16px
	margin-left 19px

.icon-left-arrow--footer
	sprite($icon_left_arrow_footer)
	vertical-align top
	margin-top 13px
	margin-right 14px

.icon-woman
	sprite($woman_red)
	vertical-align middle
	margin-left 61px

.icon-man
	sprite($man_fff)
	vertical-align middle
	margin-right 67px

