.credit
	&-intro
		height 370px
		margin 0 auto
		background #FCFCFC url('../images/credit-intro.png') no-repeat center center
		&__headlines-left
			padding-left 42px
		&__headlines-right
			float right
			padding-top 50px
			padding-right 75px
			text-align left
		&__heading-light-1
			margin-top 57px
			margin-bottom 4px
			line-height 1
			font-weight light
			font-size 32px
			color #252525
		&__heading-light-2
			margin-top 0
			margin-bottom 0
			line-height 1
			font-weight light
			font-size 30px
			color #111
			margin-left 120px
		&__heading-bold-1
			margin-top 0
			margin-bottom 0
			line-height 1
			font-size 44px
			font-weight bold
			color #252525
		&__heading-bold-2
			margin-top 0
			margin-bottom 0
			line-height .9
			font-size 86px
			font-weight bold
			color #E14013
			float left
		&__heading-bold-3
			margin-top 0
			margin-bottom 0
			line-height 1
			font-size 48px
			font-weight bold
			color #E14013
			margin-left 120px

		&__heading-bold
			font-size 44px
			color #252525

	&__location-map
		height 500px


	&-documents
		background-color #F6F6F6
		padding-top 92px
		padding-bottom 65px
		border-top 1px solid #E1E1E1
		border-bottom 1px solid #E1E1E1

		&__col-inner
			padding-left 70px
			position relative
			padding-right 90px
			+mobile()
				padding-left 20px
				padding-right 20px

		&__heading
			margin-top 0
			margin-bottom 30px
			text-align left
			small
				text-align left
				margin-top 3px
				margin-bottom 0
		&__caption
			color #777
		&__icon
			position absolute
			bottom -100px
			right 50px
			+below(4)
				&.icon-arrow-bottom-up-right
					display none

.credit__conditions
	padding-bottom 50px
	&__heading
		margin-bottom 92px

.credit-condition
	text-align left
	// width 470px
	margin-bottom 50px
	&-col
		&--left
			padding-left 110px
			padding-right 60px
			+below(4)
				padding-left 20px
				padding-right 20px
		&--right
			padding-right 110px
			padding-left 60px
			+below(4)
				padding-left 20px
				padding-right 20px
	&__icon-wrap
		float left
		width 120px
		text-align center

	&__content
		margin-left 120px
	&__default-ul
		margin-left 20px
		li
			margin-bottom 20px
	&__heading
		margin-top 0
		margin-bottom 15px

.credit-document
	width 240px
	display inline-block
	vertical-align top
	+below(4)
		width 100%
		text-align center
	&__heading
		margin-top 0
		margin-bottom 5px
		font-size 16px
	&__text
		color #777
		font-size 14px
	& + &
		margin-left 60px
		+below(4)
			margin-left 0
	&__img-wrap
		height 200px
		+below(4)
			width 100%
			text-align center


.help
	padding-top 86px
	padding-bottom 90px
	overflow hidden
	background-color #F6F6F6
	&__center
		// width 900px
		min-height 367px
		border 1px solid #E1E1E1
		border-radius 2px
		background-color #FFF
		position relative
		padding-bottom 20px
		// margin-left -12px
		&::after
			content ''
			width 407px
			height 135px
			position absolute
			right -407px
			top 50%
			margin-top -68px
			background url('../images/pattern-color-right-407x135.png') no-repeat
		&::before
			content ''
			width 407px
			height 135px
			position absolute
			top 50%
			left -407px
			margin-top -68px
			background url('../images/pattern-color-left-407x135.png') no-repeat
	&__photo
		position absolute
		bottom 0
		left 80px
	&__call
		margin-left 427px
	&__heading
		font-size 38px
		color #111
		margin-bottom 7px
		text-align left
	&__subheading
		font-size 28px
		color #D74125
		margin-top 7px
		margin-bottom 20px
