.not-found
	background url(../images/girl-2-ok.jpg) center bottom no-repeat;
	padding-top 90px
	padding-bottom 150px

	&__heading
		text-align center
		margin-top 0
		margin-bottom 118px
	&__heading3
		font-size 28px
		color #d74125
		margin-top 0
		margin-bottom 19px

	&__search-wrap
		padding-left 36px
		max-width 460px

