include ../../basic/phone/phone
include ../../basic/search/search

mixin not-found
	section.not-found&attributes(attributes)
		.container-outer
			.row
				.col-md-6
					h1.not-found__heading Не нашли, что искали?
			.row
				.col-md-3
					.not-found__search-wrap
						h3.not-found__heading3 Пользуйся поиском
						+search({type:'not-found'}).not-found__search-input-label

				.col-md-2.col-md-offset-1
					.not-found__call-wrap
						h3.not-found__heading3 Звони сейчас
						+phone({type:'not-found'})
