.not-found
	background url(../images/girl-2-ok.jpg) center bottom no-repeat;
	padding-top 90px
	padding-bottom 150px

	&__heading
		text-align center
		margin-top 0
		margin-bottom 118px
		+tablet()
			font-size 22px
			color #111
			font-weight semibold
			text-align left
			margin-bottom 20px
	&__heading3
		font-size 28px
		color #d74125
		margin-top 0
		margin-bottom 19px
		+tablet()
			display none

	&__search-wrap
		padding-left 36px
		max-width 460px
		+tablet()
			padding-left 0

