.tag
	border-radius 2px
	background-color #252525
	color #fff
	font-weight bold
	font-size 13px
	height 26px
	line-height 26px
	padding 0 15px
	display block
	float left
	vertical-align top
	cursor pointer
	margin-bottom 4px
	margin-right 4px

	&:hover
		text-decoration line-through
		.tag-close-icon
			sprite($icon_close_fff_12x12)

	&--red
		background-color #E14013
		&:hover
			text-decoration none

.tag-plus-icon
	vertical-align top
	margin-top 8px
	margin-right 8px

.tag-close-icon
	vertical-align top
	margin-top 7px
	margin-left 8px
	sprite($icon_close_89_12x12)

.other__tag
	display inline-block
	float none
