.tag
	border-radius 2px
	background-color #252525
	color #fff
	font-weight bold
	font-size 13px
	height 26px
	line-height 26px
	padding 0 15px
	display block
	float left
	vertical-align top
	cursor pointer
	margin-bottom 4px
	&+&
		margin-left 4px

	&:hover
		text-decoration line-through

	&--red
		background-color #E14013
		&:hover
			text-decoration none

	.icon-plus-11
		vertical-align top
		margin-top 8px
		margin-right 8px

	.icon-close-12
		vertical-align top
		margin-top 7px
		margin-left 8px
