.showcase__popular
	padding-top 50px
	padding-bottom 48px
	+below(4)
		padding-top 30px
		padding-bottom 20px
	&__heading
		margin-top 0
		margin-bottom 20px
		+below(4)
			font-size 22px
		small
			margin-top 2px
			+below(4)
				font-size 13px
