include ../content/content
include ../../basic/tile/tile

mixin popular-categories()
	section.showcase__popular
		.container
			.row
				.col-md-6
					h1.showcase__popular__heading Популярные категории месяца
						small что сейчас актуально для наших покупателей
			.row
				.col-md-2
					+tile({
									heading:'Варочные поверхности',
									subheading:'36 товаров →',
									border:'bottom'
								}).tile-2x1.showcase__tile
						img(src="http://dummyimage.com/210x160/4d494d/686a82.gif&text=placeholder+image",width="210",height="160", alt="placeholder+image").tile__img
					+tile({
									heading:'Блендеры',
									subheading:'215 товаров →',
									border:'bottom'
								}).tile-2x1.tile--lavender-blush.showcase__tile
						img(src="http://dummyimage.com/250x315/4d494d/686a82.gif&text=placeholder+image",width="250",height="315", alt="placeholder+image").tile__img
				.col-md-2
					+tile({
									heading:'Электрочайники',
									subheading:'57 товаров →',
									border:'bottom',
									type: 'text-bottom'
								}).tile-2x2.tile--white-smoke.showcase__tile
						img(src="http://dummyimage.com/300x240/4d494d/686a82.gif&text=placeholder+image",width="300",height="240", alt="placeholder+image").tile__img
				.col-md-2
					+tile({
									heading:'Фены',
									subheading:'95 товаров →',
									border:'bottom',
									type: 'text-bottom'
								}).tile-2x2.tile--white-smoke.showcase__tile
						img(src="http://dummyimage.com/284x284/4d494d/686a82.gif&text=placeholder+image",width="284",height="284", alt="placeholder+image").tile__img
			.row
				.col-md-2
					+tile({
									heading:'Варочные поверхности',
									subheading:'36 товаров →',
									border:'bottom'
								}).tile-2x1.showcase__tile
						img(src="http://dummyimage.com/210x160/4d494d/686a82.gif&text=placeholder+image",width="210",height="160", alt="placeholder+image").tile__img
					+tile({
									heading:'Коси газон',
									subheading:'пришел сезон',
									border:'bottom'
								}).tile-2x1.tile--ivory.showcase__tile
						img(src="http://dummyimage.com/210x160/4d494d/686a82.gif&text=placeholder+image",width="210",height="160", alt="placeholder+image").tile__img
				.col-md-4
					+tile({
									heading:'Велосипед',
									subheading:' — твой стальной конь',
									border:'bottom',
									type: 'text-bottom'
								}).tile-4x2.tile--alice-blue.showcase__tile
						img(src="http://dummyimage.com/500x330/4d494d/686a82.gif&text=placeholder+image",width="500",height="330", alt="placeholder+image").tile__img

