$text-color ?= #555
$link-color ?= #E14013
$link-hover-color ?= #E14013
$link-hover-decoration ?= none
$font-family-sans-serif ?= 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif
$font-size-base ?= 15px
$headings-font-family ?= 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Droid Sans', Helvetica, Arial, sans-serif
$headings-font-weight ?= bold
$headings-color ?= #111
$font-size-h1 ?= 36px
$font-size-h2 ?= 34px
$font-size-h3 ?= 30px
$font-size-h4 ?= 26px
$font-size-h5 ?= 24px
$font-size-h6 ?= 22px
$screen-sm ?= 720px
$screen-md ?= 990px
$screen-lg ?= 1360px
$grid-columns ?= 6
$grid-gutter-width ?= 12px
$container-large-desktop ?= (1320px + $grid-gutter-width)
$container-desktop ?= 100%
$breadcrumb-padding-vertical ?= 14px
$breadcrumb-padding-horizontal ?= 0
$breadcrumb-bg ?= transparent
$breadcrumb-color ?= #333
$breadcrumb-active-color ?= #888
$breadcrumb-separator ?= ''
$label-default-bg ?= #f5f4f4
$label-warning-bg ?= #fff8ba
$label-color ?= #111
$nav-link-padding ?= 15px 40px 16px 32px
$nav-link-hover-bg ?= #fff
$nav-tabs-border-color ?= #ebebeb
$nav-tabs-link-hover-border-color ?= #ebebeb
$nav-tabs-active-link-hover-bg ?= #fff
$nav-tabs-active-link-hover-color ?= #333
$nav-tabs-active-link-hover-border-color ?= #e14013
$nav-tabs-justified-link-border-color ?= #ebebeb
$nav-tabs-justified-active-link-border-color ?= #e14013
$blockquote-font-size ?= 15px
$modal-content-bg ?= #f9f9f9
$modal-header-border-color ?= transparent
$modal-footer-border-color ?= transparent
$modal-content-border-color ?= #363636
$modal-content-fallback-border-color ?= #363636
$modal-backdrop-bg ?= #111
$modal-backdrop-opacity ?= .75
