include ../content/content
include ../../basic/product/product

mixin similar()
	section.similar
		.container
			.row
				.col-md-6
					.similar__head
						h4.similar__heading Похожие велосипеды с
						+tag('2014 год',false).similar__tag
						+tag('горный',false).similar__tag
						+tag('мужской',false).similar__tag
						+tag('еще параметр',true).similar__tag
			.row
				.col-md-20
					+product({type:'similar'}).similar__product
				.col-md-20
					+product({type:'similar'}).similar__product
				.col-md-20
					+product({type:'similar'}).similar__product
				.col-md-20
					+product({type:'similar'}).similar__product
				.col-md-20
					+product({type:'similar'}).similar__product
