include ../content/content
include ../../basic/product/product

mixin similar()
	section.similar
		.container-20
			.row-20
				.col-md-20-5
					.similar__head
						h4.similar__heading Похожие велосипеды с
						+tag('2014 год',false).similar__tag
						+tag('горный',false).similar__tag
						+tag('мужской',false).similar__tag
						+tag('еще параметр',true).similar__tag
			.row-20
				.col-md-20-1
					+product({
												type:'similar',
												rating: true
											})
				.col-md-20-1
					+product({
												type:'similar',
												rating: true
											})
				.col-md-20-1
					+product({
												type:'similar',
												rating: true
											})
				.col-md-20-1
					+product({
												type:'similar',
												rating: true
											})
				.col-md-20-1
					+product({
												type:'similar',
												rating: true
											})
