.similar
	padding-top 68px
	padding-bottom 90px
	background-color #F9F9F9
	+below(4)
		padding-top 10px
		background-color #FFF
		padding-bottom 10px
	&__head
		padding-bottom 31px
		text-align center
		+below(4)
			padding-bottom 15px
	&__heading
		margin-top 0
		margin-bottom 0
		display inline-block
		vertical-align top
		margin-right 15px
		+below(4)
			text-align center
			font-size 22px
		+below(2)
			text-align left
	&__tag
		vertical-align top
		display inline-block
		float none
		+below(4)
			display none
