.main
	background-color #fff

	&::selection
		background-color #ffffd0

.index-main
	+below(4)
		display flex
		flex-direction column

		.promo
			order 1
		.main__nav-wrap
			order 2
		.announce
			order 3
		.hot
			order 4
		.expert
			order 5
		.categories
			order 6
		.recent
			order 7
		.social-not-found
			order 8
