.main__nav-list
	position relative

.nav--main
	clear right

.nav-list-item--main
	float left
	width 14.28%
	padding-left 1px

	+tablet()
		width 16.66%

	+below(4)
		padding-left 0


	+below(3)
		margin-bottom 20px
		padding-left 10px
		padding-right 10px

	+at(3)
		width 33.33%
		&:first-child
		&:nth-child(4n+4)
			padding-left 0
		&:nth-child(3n+3)
			padding-right 0

	+at(2)
		width 50%


.nav-list-item--sale
	+below(4)
		display none


.nav-list-item--header-top
	float left

.sale-icon-text
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	font-size 42px
	line-height 1
	font-weight light
	color #FFF
	margin-top 20px
	margin-bottom 12px

.nav__text
	display block
	line-height 12px



.nav-icon-multimedia
	sprite($icon_photo_fff_51x34)
	margin-top 15px
	margin-bottom 6px

.nav-icon-household
	sprite($icon_teapot_fff_33x36)
	margin-top 14px
	margin-bottom 12px

.nav-icon-sport
	sprite($icon_camping_fff_39x38)
	margin-top 12px
	margin-bottom 12px

.nav-icon-children
	sprite($icon_bear_fff_37x38)
	margin-top 13px
	margin-bottom 10px
	+below(4)
		sprite($icon_bear_111_37x39)

.nav-icon-auto
	sprite($icon_wheel_fff_37x37)
	margin-top 13px
	margin-bottom 11px

.nav-icon-repair
	sprite($icon_chair_fff_36x36)
	margin-top 15px
	margin-bottom 12px
