.nav--main
	clear right

.nav-list-item--header-main
	float left
	width 14.28%
	padding-left 1px


.nav-list-item--header-top
	float left

.sale-icon-text
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	font-size 42px
	line-height 1
	font-weight light
	color #FFF
	margin-top 20px
	margin-bottom 12px

.nav__text
	display block
	line-height 12px



.icon-multimedia
	sprite($icon_photo_fff)
	margin-top 15px
	margin-bottom 8px

.icon-household
	sprite($icon_teapot_fff)
	margin-top 14px
	margin-bottom 12px

.icon-sport
	sprite($icon_camping_fff)
	margin-top 12px
	margin-bottom 12px

.icon-children
	sprite($icon_bear_fff)
	margin-top 13px
	margin-bottom 10px

.icon-auto
	sprite($icon_wheel_fff)
	margin-top 13px
	margin-bottom 11px

.icon-repair
	sprite($icon_chair_fff)
	margin-top 15px
	margin-bottom 12px
