.footer
	background-color #191919
	padding-top 40px

	&__bottom-nav
		padding-top 128px

	&__bottom
		padding-top 100px
		background url(../images/pattern-color-footer.png) no-repeat
		background-position bottom 0 center
