block vars
	- var pageId = -1;

include ../blocks/index/main/main

extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Главная';
	- var pageType = 'index page';

block content
	+index()

