block vars
	- var pageId = -1;

include ../blocks/index/main/main
include ../blocks/basic/breadcrumb/breadcrumb

extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Главная';

block content
	+index()

