block vars
	- var pageId = -1;

include ../blocks/index/showcase/showcase-inner-inner

extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Витрина inner inner';

block content
	+showcase()

