.help-block
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	font-style italic
	font-size 12px
	color #7C7C7C
	.has-error &
		color #F24841
	&--inline
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-style italic
		font-size 13px
		color #7C7C7C
		display inline-flex
		align-items center
		vertical-align top
		height 42px
		width 240px
		padding-left 12px
		line-height 1
		margin-top 0
		margin-bottom 0

		.noflexbox &
			display inline-block
			padding-top 6px
			padding-bottom 6px

