include ../../basic/nav/nav
include ../../basic/logo/logo
include ../../basic/search/search
include ../../basic/phone/phone

mixin header-main()
	block vars
	- var	order = pageId === 'order'
	.col-md-6
		.header__main
			+logo().header__logo
			.header__inner
				+phone({type:'header'}).header__phone
				if !order
					.header__search
						+search({type:'header'}).header__search-input
