include ../../basic/nav/nav
include ../../basic/logo/logo
include ../../basic/search/search
include ../../basic/phone/phone
include ../../basic/link/link

mixin header-main()
	block vars
	- var	order = pageId === 'order'
	.col-md-6
		.header__main
			+link('./index.html')
				+logo().header__logo
			.header__inner.visible-md-block
				+phone({type:'header'}).header__phone
				if !order
					.header__search
						+search({type:'header'}).header__search-input
