.header__main
	padding-top 27px
	+below(4)
		display inline-block

.header__search
	padding-left 51px
	padding-right 90px
	margin-right 375px
	padding-top 4px
	position relative

.header__inner
	margin-left 210px

