include ../link/link

mixin nav-small(elements)
	nav.nav-small
		ul.nav-small__list
			- var length = elements.length
			- var i = 0
			each item in elements
				li.nav-small__item
					- var last = i === length-1
					- i++
					if !last
						+link().nav-small__link
							| !{item}
						i.icon-gt
					else
						span.nav-small__link.nav-small__link--current
							| !{item}
