//- include ../input/input
include ../button/button
include ../link/link

mixin search()
	input(type='search',placeholder='Быстрый поиск товара')&attributes(attributes)
	+button('Найти','buttonSubmit').btn-sm.btn--dark.header__search-btn
		| Найти
	.search__list
		| Часто ищут:
		| &#32;
		+link().search__list__link
			| мультиварка
		| ,
		| &#32;
		+link().search__list__link
			| фотоаппарат
