.search-input-label
	display inline-block
	vertical-align top
	position relative
	cursor text
	font-weight light
	&::before
		content ''
		sprite($icon_search)
		position absolute
		top 50%
		left 8px
		margin-top -8px

.search__list
	font-size 12px
	color #888

.not-found__search-input-label
	margin-bottom 19px
	&::before
		left 18px
