include ../content-catalogue/content-catalogue
include ../aside-catalogue/aside-catalogue
include ../content/content

mixin catalogue-section()
	+b.catalogue-section
		+content-20-outer()
			.col-md-20-1
				+aside-catalogue()
			.col-md-20-4
				+content-catalogue()

