include ../content/content
include ../../basic/tile/tile

mixin announce()
	section.announce
		.container-outer
			.row
				.col-md-2
					+tile({heading:'Хочешь смузи?',subheading:'блендер в помощь'}).tile-2x2.tile--lavender-blush
						img(src="http://dummyimage.com/250x315/4d494d/686a82.gif&text=placeholder+image",width="250",height="315", alt="placeholder+image").tile__img
				.col-md-2
					+tile({heading:'Лови момент',subheading:'зеркальные фотокамеры'}).tile-2x2.tile--white-smoke
						img(src="http://dummyimage.com/300x240/4d494d/686a82.gif&text=placeholder+image",width="300",height="240", alt="placeholder+image").tile__img
				.col-md-2
					+tile({heading:'Наушники?',subheading:'не, не слышали...'}).tile-2x2.tile--white-smoke
						img(src="http://dummyimage.com/284x284/4d494d/686a82.gif&text=placeholder+image",width="284",height="284", alt="placeholder+image").tile__img
			.row
				.col-md-2
					+tile({heading:'Сезон открыт',subheading:'туристические палатки'}).tile-2x1
						img(src="http://dummyimage.com/210x160/4d494d/686a82.gif&text=placeholder+image",width="210",height="160", alt="placeholder+image").tile__img
					+tile({heading:'Коси газон',subheading:'пришел сезон'}).tile-2x1.tile--ivory
						img(src="http://dummyimage.com/210x160/4d494d/686a82.gif&text=placeholder+image",width="210",height="160", alt="placeholder+image").tile__img
				.col-md-4
					+tile({heading:'Велосипед',subheading:' — твой стальной конь'}).tile-4x2.tile--alice-blue
						img(src="http://dummyimage.com/500x330/4d494d/686a82.gif&text=placeholder+image",width="500",height="330", alt="placeholder+image").tile__img

