include ../../layout/expert/expert
include ../../layout/promo/promo
include ../../layout/categories/categories
include ../../layout/breadcrumb/breadcrumb
include ../../layout/buyers-choice/buyers-choice
include ../../layout/subscribe-section/subscribe-section
include ../../layout/popular-categories/popular-categories
include ../../layout/categories-promo/categories-promo
include ../../layout/showcase-categories/showcase-categories
include ../../layout/live/live
include ../../layout/nav-main/nav-main

mixin showcase()
	block vars
	- var	order = pageId === 'order'


	+nav-main()
	+content-outer().visible-md-block.visible-lg-block
		.col-md-6
			+breadcrumb(['Главная', 'Каталог товаров', 'Бытовая техника'])
	+categoriesHeader().showcase__category__header
	+categoriesNav().showcase__category__nav
	+showcase-categories()
	+buyers-choice()
	+popular-categories()
	+categories-promo().hidden-xs.hidden-sm
	+subscribe-section()
	+live()



