.phone
	font-family 'PT Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	color #999

.phone__area
.phone__number
	font-size 52px
	letter-spacing -4px

.phone__code
	display inline-block

	&-item
		font-size 14px
		line-height 14px

.phone__number
	color #252525
	text-decoration none

.phone__extra
	font-size 12px
	line-height 21px
	color #888

.header__phone
	float right
