include ../link/link
include ../button/button

mixin phone(args)
	.phone&attributes(attributes)
		.phone__number-wrap
			span.phone__area
				| +375
			ul.phone__code
				li.phone__code-item.phone__code-item--vel
					| (44)
				li.phone__code-item.phone__code-item--mts
					| (29)
				li.phone__code-item.phone__code-item--life
					| (25)
			+link('tel:7825555').phone__number
					| 782&nbsp;55&nbsp;55
		.phone__txt
			| Звони сейчас
		if (args.type)
			case args.type
				when 'not-found'
					.not-found__btn-wrap
						+button().btn-med.btn--dark.not-found__btn-callback
							span.hidden-sm.hidden-xs Заказать !{''}
							| обратный звонок
					.phone__extra
						| Время работы магазина: Пн-Пт с&nbsp;9&nbsp;до&nbsp;20
				default
					.phone__extra
						| Время работы магазина: Пн-Пт с&nbsp;9&nbsp;до&nbsp;20
					.not-found__btn-wrap
						+button().btn-xsm.btn--dark.btn--callback
							| Обратный звонок
