.index__social
	border-bottom 1px solid #EBEBEB
	background 	url(../images/pattern-color-165x163.png) 0 164px no-repeat,
							url(../images/pattern-color-bones-165x163.png) 0 0 repeat-y,
							url(../images/pattern-color-bones-165x163.png) 165px 0 repeat-y,
	 						#F6F6F6

	&__inner
		border-top 1px solid #EBEBEB
		padding-top 30px

		background 	url(../images/pattern-color-black-110x109.png) 100% 434px no-repeat,
							 	url(../images/pattern-color-gray-110x109.png) 100% 0 repeat-y



	&__heading
		margin-bottom 46px
		text-align center

		small
			padding-left 0
			margin-top 5px
