include ../breadcrumb/breadcrumb
include ../banner/banner
include ../../basic/nav-tabs/nav-tabs
include ../../basic/pagination/pagination
include ../../basic/product/product

mixin content-catalogue(type)
	+b.content-catalogue
		+e.breadcrumb-outer.hidden-xs
			+breadcrumb(['Главная', 'Фото, телефония, мультимедиа', 'Телефония', 'Мобильные телефоны'])
		+e.head
			if type === 'banner'
				+e.banner-outer.hidden-xs
					+banner-medium().content-catalogue__banner-medium
					+banner-horizontal().content-catalogue__banner-horizontal
			else
				+e.banner-small-outer.hidden-xs
					+banner-small()
			+e('h1').heading.hidden-xs Мобильные телефоны
			+e.subheader.hidden-xs
				+navSubheaderSmall({
									links: [
										{
											isActive: true,
											href: 'javascript:void(0);',
											class: 'js-product-filter-tab js-product-filter-expensive',
											icon: 'feather',
											content: 'Самые дорогие'
											},
										{
											isActive: false,
											href: 'javascript:void(0);',
											class: 'js-product-filter-tab js-product-filter-cheap',
											icon: 'info',
											content: 'Самые дешевые'
											},
										{
											isActive: false,
											href: 'javascript:void(0);',
											class: 'js-product-filter-tab js-product-filter-new',
											icon: 'review',
											content: 'Новинки'
											},
										{
											isActive: false,
											href: 'javascript:void(0);',
											class: 'js-product-filter-tab js-product-filter-popular',
											icon: 'help',
											content: 'Популярные'
											},
										{
											isActive: false,
											href: 'javascript:void(0);',
											class: 'js-product-filter-tab js-product-filter-sale',
											icon: 'delivery',
											content: 'Акции'
											}
									]
								}).js-subheader-filter-tab
		+e.body
			+e.items-wrap.js-catalogue-items
				.row
					.col-md-25-1.col-sm-25-2.col-xs-2.product__col
						+product({
												labels: ['new','hot'],
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												video: true
						})
						+product({
												type: 'basic',
												rating: true,
												present: true
						})
						+product({
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												present: true
						})
					.col-md-25-1.col-sm-25-2.col-xs-2.product__col
						+product({
												labels: ['new', 'discount', 'hit'],
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												info: true
						})
						+product({
												type: 'basic',
												rating: true,
												present: true
						})
						+product({
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												present: true
						})
					.col-md-25-1.col-sm-25-2.col-xs-2.product__col
						+product({
												labels: ['new','discount'],
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												info: true
						})
						if type === 'banner'
							+banner-vertical()
						else
							+product({
													type: 'basic',
													rating: true,
													present: true
							})
						+product({
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												present: true
						})
					.col-md-25-1.col-sm-25-2.col-xs-2.product__col
						+product({
												labels: ['new','discount'],
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												info: true
						})
						+product({
												type: 'basic',
												rating: true,
												present: true
						})
						+product({
												type: 'basic',
												rating: true,
												oldPrice: '44 443 334 BYR',
												present: true
						})
			+e.load-more-wrap
				+buttonMore({itemCount:16})
			+e.pagination-wrap
				+pagination(12)

