.content-catalogue
	background-color #FFF
	margin-left -25px
	border-left 9px solid #F6F6F6
	margin-right -20px
	padding-left 16px
	padding-right 20px
	padding-bottom 98px
	+below(4)
		margin-left 0
		border-left none
		margin-right 0
		padding-left 0
		padding-right 0
		padding-bottom 0

	&__breadcrumb-outer
		padding-top 4px
		padding-bottom 17px

	&__head
		border-top 1px solid transparent
		position relative

	&__heading
		margin-top 40px
		margin-bottom 20px
		text-align left

	&__heading-filter
		margin-bottom 25px
		font-size 12px
		color #333

	&__txt
		margin-bottom 10px
		margin-top 0
		line-height 1

	&__banner-outer
		clearfix()

	&__banner-small-outer
		position absolute
		top 0
		right 0

	&__pagination-wrap
		margin-top 11px
		text-align center
		+below(4)
			margin-top 0
			.pagination
				margin-top 23px
				margin-bottom 33px

	&__items-wrap
		padding-top 25px
		+below(4)
			background-color #F5F5F5
			margin-left -20px
			margin-right -20px
			padding-left 20px
			padding-right 20px
			padding-bottom 80px
			border-top 1px solid #c0c0c0
			border-bottom 1px solid #c0c0c0
			padding-top 15px

	&__load-more-wrap
		margin-top 60px
		text-align center
		+below(4)
			margin-top -74px
			margin-bottom 20px
