.content-catalogue
	background-color #FFF
	margin-left -16px
	margin-right -20px
	padding-left 16px
	padding-right 20px
	padding-bottom 98px

	&__breadcrumb-outer
		padding-top 4px
		padding-bottom 17px

	&__head
		border-top 1px solid transparent
		position relative

	&__heading
		margin-top 40px
		margin-bottom 20px
		text-align left

	&__banner-small-outer
		position absolute
		top 0
		right 0

	&__pagination-wrap
		margin-top 11px
		text-align center

	&__items-wrap
		padding-top 25px

	&__load-more-wrap
		margin-top 60px
		text-align center
