.set
	&-all
		background-color #F6F6F6
		border-top 1px solid #F6F6F6

		&__heading
			color #111
			margin-top 0
			margin-bottom 10px
			font-size 18px
		&__inner
			border-top 2px solid #e14013
			padding 18px 22px
		&__item
			float left
			margin-top 0
			&__img-wrap
				float left
				border-radius 2px
				overflow hidden
				border 1px solid #ebebeb
				width 85px
				height 85px
				margin-right 11px
			&-body
				margin-left 20px
			&__name
				font-size 12px
				line-height 14px
				margin-top 0
				margin-bottom 0
				& + .set-all__item__price-special
					margin-top 18px
			&__price-old
				font-size 10px
				display block
				line-height 1
				margin-top 5px
				color #959595
			&__price-special
				font-weight normal
				font-size 14px
				color #111
				display block
		&__items
			&__plus
			&__equal
				float left
				margin-left 22px
				margin-right 30px
				&-icon
					vertical-align top
			&__plus
				margin-top 35px
			&__equal
				margin-top 36px
			&__result
				font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		&__result
			&-heading
				font-weight normal
				font-size 14px
				display block
				line-height 1
				margin-bottom 9px
				&
				strong
					color #E14013
			&__price
				margin-bottom 5px
				&-old
					font-weight light
					font-size 12px
					color #898989
				&-special
					font-size 16px


	&__more
		margin-top 47px
		text-align center
