.set
	&-all
		background-color #F6F6F6
		border-top 1px solid #F6F6F6

		&__heading
			color #111
			margin-top 0
			margin-bottom 10px
			font-size 18px
		&__inner
			border-top 2px solid #e14013
			padding 18px 22px
		&__item
			width 200px
			float left
			&__img-wrap
				border-radius 2px
				overflow hidden
				border 1px solid #ebebeb
				width 85px
				height 85px
			&__name
				font-size 12px
				margin-top 0
				margin-bottom 0
			&__price-old
				font-size 10px
				display block
				color #959595
			&__price-special
				font-weight normal
				font-size 14px
				color #111


	&__more
		margin-top 47px
		text-align center
