include ../../layout/expert/expert
include ../../layout/promo/promo
include ../../layout/hot/hot
include ../../layout/announce/announce
include ../../layout/categories/categories
include ../../layout/social/social
include ../../layout/recent/recent
include ../../layout/not-found/not-found
include ../../basic/pattern/pattern
include ../../basic/modal/modal

mixin index()
	+modalSubscribe('subscribePopup')
	+categories()
	+promo()
	+hot()
	+announce()
	+pattern()
	+expert()
	+recent()
	+indexSocial
	+not-found()

