include ../../layout/expert/expert
include ../../layout/promo/promo
include ../../layout/hot/hot
include ../../layout/announce/announce
include ../../layout/categories/categories
include ../../layout/social/social
include ../../layout/recent/recent
include ../../layout/not-found/not-found
include ../../basic/pattern/pattern

mixin index()
	+promo()
	+hot()
	+announce()
	+pattern()
	+expert()
	section.categories
		| categories
	+recent()
	+indexSocial
	+not-found()

