.aside-catalogue
	background #FFF
	margin-left -20px
	margin-right 9px

	&__section
		border-bottom 3px solid #F6F6F6
		&--filters
			padding 30px 20px 50px
	&__strong
		font-size 14px
		font-weight semibold
		display block
		margin-bottom 2px
	&__tags
		clearfix()
		padding-bottom 17px
		&-clear
			&-icon
				margin-right 5px
				margin-bottom 5px
				vertical-align bottom
			&-action
				color #CCC
				font-size 14px
			&-text
				text-decoration underline
				vertical-align bottom

	&-section
		&__inputs-wrap
			padding-top 27px
			padding-bottom 21px
		&__input
			display inline-block
			vertical-align top
			height 32px
			line-height 32px
			margin-bottom 6px
			&-text
				font-size 13px
				color #999
				width 24px
				float left
			&-money
				margin-left 24px
				.input-money
					margin-left 0
			&-field
				height 32px
				line-height 32px
				padding-right 40px
				width 100%
		&__pseudo
			display inline-block
			border-bottom 1px dashed #555
		&__count
			color #ccc

	&__price-slider-wrap
		padding-bottom 30px

	&__button-pick-wrap
		text-align center
		padding-top 30px
		padding-bottom 30px

