.col-xs-2
	a(href= jv0).link ссылка
.col-xs-2 2
	ul.list
		li.list-item номер 1
		li.list-item номер 2
		li.list-item номер 3
		li.list-item номер 4
.col-xs-2 3
	+button().btn--default
		| button
	+button().btn-lg.btn--dark
		| button dark
	+button().btn-sm.btn--dark
		| button dark

	+button().btn-sm.btn--ghost.btn--ghost-dark
		| button dark

	+button().btn-sm.btn--ghost.btn--ghost-gray
		| button dark

.col-xs-2 4
.col-xs-2 5
.col-xs-2 6
