.banner-small
	color #111
	display inline-block
	border 3px solid rgb(246, 246, 246)
	border-radius 2px
	background-color #FFF
	background 	url(../images/pattern-color-232x57.png) no-repeat,
							#FFF
	background-position right 4px center
	padding 10px 90px 10px 10px


	&__strong
		font-size 20px
		display block
		line-height 1
	&__text
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-size 16px
