include ../../layout/content/content
include ../../layout/recent/recent
include ../../layout/catalogue-section/catalogue-section
include ../../layout/reasons-to-buy/reasons-to-buy
include ../../layout/subscribe-section-big/subscribe-section
include ../../layout/subscribe-section/subscribe-section
include ../../layout/categories-promo/categories-promo
include ../../layout/banner/banner
include ../../layout/nav-main/nav-main

mixin catalogue(type)
	block vars
	- var	order = pageId === 'order'

	+nav-main().hidden-xs.hidden-sm
	+catalogue-section(type)
	if type === 'banner'
		+banner-big().hidden-xs.hidden-sm
	+recent().hidden-xs.hidden-sm
	if type === 'banner'
		+subscribe-section().hidden-xs.hidden-sm
	else
		+subscribe-section-big().hidden-xs.hidden-sm
	+categories-promo().hidden-xs.hidden-sm
	+reasons().hidden-xs.hidden-sm

