include ../../layout/content/content
include ../../layout/recent/recent
include ../../layout/breadcrumb/breadcrumb
include ../../layout/reasons-to-buy/reasons-to-buy
include ../../layout/categories-promo/categories-promo

mixin catalogue()

	+content()
		.col-md-6
			+breadcrumb(['Главная', 'Каталог товаров', 'Бытовая техника'])
	+recent()
	+categories-promo()
	+reasons()



