mixin description()
	article.description
		h2 Видео обзор SAMSUNG I9300 Galaxy S III Garnet Red
		//- iframe(src="https://www.youtube.com/watch?v=0-T3FC0rWsc", width="790", height="514", frameborder="0")
		.description__center
			+button().btn-xsm.btn--ghost.btn--ghost-gray.more-videos-btn.js-more-videos
				| Еще 2 видео обзора
				i.icon-arrow-down.more-videos-btn__icon-arrow
		h2 Спутник в твоем мире
		figure
			img(src="http://dummyimage.com/786x336/4d494d/686a82.gif&text=placeholder+image",width="786",height="336", alt="placeholder+image")
		p Новый смартфон Samsung GALAXY S4 станет твоим истинным компаньоном, который поможет упростить общение с людьми и сохранить самые радостные моменты жизни. Каждая его функция призвана сделать твою жизнь насыщенней и интересней. Кроме того, он может следить за твоим здоровьем и самочувствием. Samsung GALAXY S4 — твой незаменимый помощник.
