.description
	font-size 14px
	line-height 20px
	color #333
	h4
		font-size 21px
		margin-bottom 14px
	h5
		font-size 18px
		margin-bottom 14px

	ol
		padding-left 16px
	ul
		padding-left 16px
		list-style disc
	li
		margin-bottom 14px

	iframe
	video
		border 1px solid #F1F1F1

	iframe
	video
	figure
	img
		margin-bottom 27px

	figure
		overflow hidden
		width 100%

	figure > img
		width 100%
		margin-bottom 0

	&__center
		text-align center

.half-wrap
	clearfix()

.half
	width 50%
	float left
	padding-right 6px

	.description &
		+mobile()
			float none
			width 100%
			padding-right 0


	&+&
		padding-right 0
		padding-left 6px

		.description &
			+mobile()
				padding-left 0




