mixin description()
	section.description
		article
			h4 Видео обзор SAMSUNG I9300 Galaxy S III Garnet Red
			iframe(src="https://www.youtube.com/embed/i7d0Lm_31BE", width="790", height="514",allowfullscreen, frameborder="0")
			.description__center
				+button().btn-xsm.btn--ghost.btn--ghost-brown.more-videos-btn.js-more-videos
					| Еще 2 видео обзора
					i.icon-arrow-down.more-videos-btn__icon-arrow
		article
			h4 Спутник в твоем мире
			figure
				img(src="http://dummyimage.com/786x336/4d494d/686a82.gif&text=placeholder+image",width="786",height="336", alt="placeholder+image")
			p Новый смартфон Samsung GALAXY S4 станет твоим истинным компаньоном, который поможет упростить общение с людьми и сохранить самые радостные моменты жизни. Каждая его функция призвана сделать твою жизнь насыщенней и интересней. Кроме того, он может следить за твоим здоровьем и самочувствием. Samsung GALAXY S4 — твой незаменимый помощник.
		article
			h4 Мгновенный просмотр
			figure
				img(src="http://dummyimage.com/786x336/4d494d/686a82.gif&text=placeholder+image",width="786",height="336", alt="placeholder+image")
			h5 Более простой способ просмотра контента:
			ol
				li Экономь время, пользуясь мгновенным просмотром контента до его открытия.
				li Функция "Мгновенный просмотр" значительно облегчает увеличение контента и снимков, просмотр электронных писем и быстрый набор номеров в одно-два касания.
				li Возможности: просмотр информации, номеров для быстрого набора и увеличение веб-страниц.

		.half-wrap
			.half
				article
					h4 Двусторонняя съемка
					figure
						img(src="http://dummyimage.com/786x336/4d494d/686a82.gif&text=placeholder+image",width="786",height="336", alt="placeholder+image")
					p Две камеры — одна фотография. Теперь любой момент жизни можно запечатлеть одновременно с помощью двух камер – основной и фронтальной, а внешний вид каждого снимка можно изменить с помощью множества готовых шаблонов. Вдобавок функции “Двусторонняя съемка” позволят тебе поделиться эмоциями и вспечатлениями вместе с друзьями и близкими, неважно как далеко они от тебя находятся.
			.half
				article
					h4 Двусторонняя съемка
					figure
						img(src="http://dummyimage.com/786x336/4d494d/686a82.gif&text=placeholder+image",width="786",height="336", alt="placeholder+image")
					p Каждый снимок, сделанный на Samsung GALAXY S4, может сопровождаться звуковой дорожкой. Поэтому, теперь ты с легкостью сможешь вспомнить услышанное: произнесенные слова, смех, звуки музыки и природы. Подобное решение подарит тебе массу новых впечатлений и эмоций, позволит вновь пережить запомнившиеся моменты, чтобы разделить их с близкими тебе людьми.
		article
			h4 Управление жестами
			figure
				img(src="http://dummyimage.com/786x336/4d494d/686a82.gif&text=placeholder+image",width="786",height="336", alt="placeholder+image")
			ul
				li Управляй смартфоном, проводя рукой над дисплеем, не касаясь его.
				li Просто проведи рукой над дисплеем, чтобы быстро пересмотреть контент.
				li Быстрее отвечай на звонки.
				li
					em Возможности:
					|  быстрый просмотр, мгновенный переход, мгновенный обзор, мгновенное перемещение,         	    бесконтактное принятие вызова.
