.product
	border-radius 2px
	border 1px solid #E1E1E1
	background-color #FFF
	padding 20px 16px 19px
	position relative

	&:hover
		border-color #AAAAAC

	&-sidebar
		border-radius 0
		border-top-width 4px
		padding 0

	&__link
		&::after
			position absolute
			// content ''
			top -1px
			right -1px
			bottom -1px
			left -1px
			z-index 1

	&__labels
		position absolute
		top 78px
		left -1px

	&__label
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-weight semibold
		font-size 18px
		display inline-block
		color #FFF
		line-height 1
		padding 10px 12px 10px 8px
		background-color #FF503F
		border-left 4px solid #f13d2b
		margin-bottom 2px
		&--discount
			background-color #FF503F
			border-left-color #f13d2b
		&--new
			background-color #8DC63F
			border-left-color #6CA61C
		&--hit
			background-color #FF7300
			border-left-color #E26702

	&__title-text
		color #333
		font-size 13px
		line-height 16px

	&-sidebar__head
		padding 20px 16px
		background-color #F6F6F6

	&-sidebar__title-text
		color #111
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-weight bold
		font-size 15px
		line-height 18px

	&__body
		padding-top 32px

	&-sidebar__body
		padding 12px 15px 14px

	&__foot
		padding-top 30px

	&-sidebar__foot
		padding 16px 15px
		background-color #F6F6F6

	&__image
		overflow hidden

	&__price
		margin-top 12px
		line-height 18px
		text-align center
		&-old
		&-special
			display block

		&-old
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			font-size 12px
			color #898989
			font-weight light

		&-special
			color #333
			font-size 14px

	&-sidebar__price
		text-align left
		&-old
			font-size 16px
		&-special
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			color #111
			font-size 20px
			margin-top 3px
			margin-bottom 16px

	&__features
		padding-top 10px
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		align-content center

	&__features__icon-wrap
		display inline-block
		margin-bottom 20px
		margin-right 9px

	// nb to fix
	.no-flexbox &__features
		text-align justify

	&__actions
		font-size 0
		&__links
			max-width 50%
			padding-left 20px
			display inline-block
			vertical-align top

	&__action
		position relative
		z-index 2
		line-height 1
		margin-bottom 5px
		&:last-child
			margin-bottom 0


.similar__product
	padding-bottom 0

	&:hover
		border-color #C2C2C2
		box-shadow 0px 2px 0px 0px rgba(1, 2, 2, 0.3)

		.product__features
			visibility hidden
		.product__actions
			display block

	.product__features
		display flex

	.no-flexbox & .product__features
		display block

	.product__actions
		display none
		position absolute
		bottom 0
		left 0
		right 0
		text-align center
		padding-bottom 36px

	.product__actions__links
		display block
		margin 10px auto 0
		padding-left 13px
		text-align left


