.product
	border-radius 2px
	border 1px solid #E1E1E1
	background-color #FFF
	position relative

	&:hover
		border-color #AAAAAC



	&__added
		border-top 4px solid #ebebeb
		position relative
		margin-bottom 5px
		&__label
			position absolute
			left 20px
			width 38px
			height 34px
			top -4px
			border-top 4px solid transparent
			text-align center
			&--cart
				border-top-color #B72800
				background-color #e14013
			&--compare
				border-top-color #4cb7e1
				background-color #6DCFF6
			&--favorite
				border-top-color #e26702
				background-color #ff7300
		&-icon
			vertical-align top
			&--favorite
				margin-top 4px
			&--compare
				margin-top 6px
			&--cart
				margin-top 3px
		&__text
			margin-left 70px
			font-size 13px
			color #999
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			font-style italic
			line-height 30px
			display inline-block
			vertical-align top

	&__link
		&::after
			position absolute
			// content ''
			top -1px
			right -1px
			bottom -1px
			left -1px
			z-index 1

	&__title-text
		color #333
		font-size 13px
		line-height 16px
		&--hot
			font-size 24px
			line-height 1.2

	product-head-top = 20px
	product-head-height = 56px
	product-hot-head-height = 66px

	&__head
		padding-left 16px
		padding-right 16px
		position absolute
		top product-head-top
		height product-head-height

	&__body
		// 56 + 20
		padding-top = product-head-top + product-head-height
		padding-top-hot = product-head-top + product-hot-head-height

		padding padding-top 10px 0
		&--hot
			padding-top padding-top-hot
			font-size 0

	&__inner
		border 1px solid #EBEBEB

	&__image
		position relative
		display block
		padding 0
		padding-bottom calc(100% - 20px)
		border 10px solid rgba(0,0,0,0)
		&-outer
			width 350px
			margin 0 auto
			padding-top 10px
			padding-bottom 10px
			&--horizontal
				padding 10px
				float left
				width 240px
				margin-left 30px

		img
			position absolute
			background #F0FF0F
			top 0
			right 0
			bottom 0
			left 0
			max-width 100%
			max-height 100%
			margin auto
			transform translateZ(0)

	&__info-outer
		padding 20px 30px 30px
		position relative
		&--horizontal
			margin-left 300px

	&__info
		&__left
		&__right
			width 50%
			display inline-block
			vertical-align top
		&__item
			font-size 13px
			color #111
		&__value
			color #555

	&__price
		line-height 18px
		text-align center
		margin-bottom 12px
		&-old
		&-special
			display block

		&-old
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			font-size 12px
			color #898989
			font-weight light

		&-special
			color #333
			font-family $font-family-sans-serif
			font-size 14px

		&--hot
			text-align left
			margin-top 0
			margin-bottom 20px
			.product__price-old
				font-size 16px
			.product__price-special
				font-size 24px
				line-height 1.2
				color #E14013


	&-sidebar
		border-radius 0
		border-top-width 4px

	&-sidebar__head
		padding 20px 16px
		background-color #F6F6F6

	&-sidebar__title-text
		color #111
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		font-weight bold
		font-size 15px
		line-height 18px


	&-sidebar__body
		padding 12px 15px 14px

	&__foot
		padding 11px 16px 19px

	&-sidebar__foot
		padding 16px 15px
		background-color #F6F6F6


	&-sidebar__price
		text-align left
		&-old
			font-size 16px
		&-special
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			color #111
			font-size 20px
			margin-top 3px
			margin-bottom 16px

	&__features-text
		font-size 13px

	&__features-icons
		padding-top 10px
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		align-content center

	&__features__icon-wrap
		display inline-block
		margin-bottom 20px
		margin-right 9px

	// nb to fix
	.no-flexbox &__features
		text-align justify

	&__actions
		font-size 0
		&__links
			max-width 50%
			padding-left 20px
			display inline-block
			vertical-align top

	&__action
		position relative
		z-index 2
		line-height 1
		margin-bottom 5px
		&:last-child
			margin-bottom 0

	&__video

		&__heading
			padding 8px 11px
			background-color #252525
			color #F6F6F6
			font-size 13px
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			position relative
			&::before
				content ''
				position absolute
				top -8px
				right 21px
				width 0
				height 0
				border-style solid
				border-width 0 9px 8px 9px
				border-color transparent transparent #252525 transparent

		&__content
			position relative
			height 122px
			overflow hidden


		&-link
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			&__inner
				display block
				position absolute
				top 50%
				left 50%
				margin-top -14px
				margin-left -21px
				width 42px
				height 27px
				background-color #252525
				border-radius 2px

		&__icon
			position absolute
			top 50%
			left 50%
			margin-top -7px
			margin-left -5px



.similar__product
	padding-bottom 0

	&:hover
		border-color #C2C2C2
		box-shadow 0px 2px 0px 0px rgba(1, 2, 2, 0.3)

		.product__features
			visibility hidden
		.product__actions
			display block

	.product__features
		display flex

	.no-flexbox & .product__features
		display block

	.product__actions
		display none
		position absolute
		bottom 0
		left 0
		right 0
		text-align center
		padding-bottom 36px

	.product__actions__links
		display block
		margin 10px auto 0
		padding-left 13px
		text-align left

.hot-product
	border none
	margin-bottom 20px


.live-product
	border none

	&::after
		content ''
		position absolute
		top 0
		bottom 0
		right -9px
		width 1px
		background-color #EBEBEB





