mixin expert(args)
	section.expert&attributes(attributes)
		.container-outer
			.row
				.col-md-6
					h1.expert__heading
						| !{args.heading}
						small !{args.subheading}
			.row
				.col-md-4.col-md-offset-1
					.media.expert__block
						.media-left.expert__avatar
							img(src="http://dummyimage.com/110x110/4d494d/686a82.gif&text=expert-photo",width="110",height="110", alt="expert-photo").img-circle
							if args.namePosition === 'below'
								em.expert__name Алексеев Юрий
								em.expert__position Эксперт-товаровед
						.media-body.expert__body
							blockquote.expert__blockquote
								p
									block
								if args.namePosition !== 'below'
									footer
										em Алексеев Юрий
