mixin expert()
	section.expert
		.container
			.row
				.col-md-6
					h2.h1.expert__heading
						| Мнение эксперта
						small кратко о главном
			.row
				.col-md-4.col-md-offset-1
					.media
						.media-left.expert__avatar
							img(src="http://dummyimage.com/110x110/4d494d/686a82.gif&text=expert-photo",width="110",height="110", alt="expert-photo").img-circle
						.media-body
							blockquote.expert__blockquote
								p В то время, когда несколько компаний выпускают велосипеды стоимостью свыше 9000 тыс. долл., Скотт разработал гоночный аппарат способный на равне конкурировать с топ-байками всего то за две трети их стоимости. Мы видим Гемблер в качестве идеального байка для езды на высоких скоростях с крутых склонов, а также обладающим способностью хорошо выполнять другие, более сложные задачи, после изменения несколько настроек геометрии рамы.
								footer
									em Алексеев Юрий
