include ../content/content
include ../../basic/product/product

mixin recent()
	section.recent
		.container-20
			.row-20
				.col-md-20-5
					h2.recent__heading Недавно вы просматривали
			.row-20
				.col-md-20-1
					+product({
										type:'recent',
										labels:'new'
									}).recent__product
				.col-md-20-1
					+product({
										type:'recent',
										labels:'discount',
										oldPrice: '45 000 BYR'
									}).recent__product
				.col-md-20-1
					+product({type:'recent'}).recent__product
				.col-md-20-1
					+product({
										type:'recent',
										labels:'hit'
									}).recent__product
				.col-md-20-1
					+product({
										type:'recent',
										labels:'new'
									}).recent__product
