.recent
	border-top 3px solid #e14013
	border-bottom 1px solid #EBEBEB
	padding-top 40px
	padding-bottom 79px
	+below(4)
		padding-top 26px
		padding-bottom 0
		border-bottom none
		border-top-width 1px
		border-top-color #E5E5E5

	&__heading
		text-align center
		margin-bottom 30px
		+below(4)
			color #333232
			margin-top 0
			margin-bottom 20px
		+tablet()
			font-size 24px
		+below(3)
			font-size 22px


