include ../content/content
include ../../basic/product/product

mixin recent()
	section.recent
		.container-20-outer
			.row-20
				.col-md-20-5
					h2.recent__heading Недавно вы просматривали
			.row-20.js-recent-carousel
				.col-md-20-1.sol-sm-25-1
					+product({
										type:'recent',
										rating: true,
										labels:'new'
									})
				.col-md-20-1.sol-sm-25-1
					+product({
										type:'recent',
										rating: true,
										labels:'discount',
										oldPrice: '45 000 BYR'
									})
				.col-md-20-1.sol-sm-25-1
					+product({
										type:'recent',
										rating: true
									})
				.col-md-20-1.sol-sm-25-1
					+product({
										type:'recent',
										rating: true,
										labels:'hit'
									})
				.col-md-20-1.sol-sm-25-1
					+product({
										type:'recent',
										rating: true,
										labels:'new'
									})
