include ../content/content
include ../../basic/product/product

mixin recent()
	section.recent
		.container
			.row
				.col-md-6
					h2.recent__heading Недавно вы просматривал
			.row
				.col-md-20
					+product({
										type:'recent',
										labels:'new'
									}).recent__product
				.col-md-20
					+product({
										type:'recent',
										labels:'discount',
										oldPrice: '45 000 BYR'
									}).recent__product
				.col-md-20
					+product({type:'recent'}).recent__product
				.col-md-20
					+product({
										type:'recent',
										labels:'hit'
									}).recent__product
				.col-md-20
					+product({
										type:'recent',
										labels:'new'
									}).recent__product
