
.category__select
	&-wrap
		height 44px
		margin-bottom 30px
		position relative
	&__inner
		position absolute
		left 50%
		margin-left -200px
		top 0
		z-index 1
		text-align center

		.select2-container
			font-size 18px
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			color #333

		.select2-container--default .select2-selection--single .select2-selection__rendered
			color #252525
			font-size 24px
			font-weight bold
			display inline-block
			vertical-align top
			// width 800px
			padding 0


		.select2-container--default .select2-selection--single .select2-selection__arrow
			position static
			display inline-block
			vertical-align top
			padding 0
			margin-left 6px
			b
				border none
				sprite($icon_arrow_down_333_15x9)
				position static
				top auto
				left auto
				margin-left auto
				margin-top auto
				display inline-block
				vertical-align middle
				margin-top 6px

		.select2-container--default .select2-selection--single
			background-color rgba(255,255,255,0)

		.select2-container .select2-selection--single
			border-color transparent
			border-top-width 4px

		.select2-container--open .select2-selection--single
			background-color rgba(255,255,255,1)
			border-radius 0
			border 1px solid #acacac
			border-top-width 4px

		.select2-container--default.select2-container--open
			margin-top -44px
			.select2-selection--single
				height 100px

				.select2-selection__rendered
					color #E14013
					margin 44px 0 28px

				.select2-selection__arrow
					margin-top 44px
					margin-bottom 28px
					b
						sprite($icon_arrow_down_red_15x9)

		.select2-container--default.select2-container--open.select2-container--below .select2-selection--single
			border-bottom none

.category__select__dropdown
	.select2-results__option
		padding 10px 20px
	.select2-container
		font-size 18px
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		color #333


.select2-dropdown
	border-radius 0
	border 1px solid #acacac
	border-top none

.select2-container--default .select2-results > .select2-results__options
	max-height 400px
	padding-bottom 10px

.select2-container--default .select2-results__option--highlighted[aria-selected]
	background-color #111

.category__filter
	display inline-block
	padding 25px 0 26px
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
	&-wrap
		border-bottom 1px solid #EBEBEB
	&__title
		font-size 16px
		color #252525
		line-height 32px
		display inline-block
		vertical-align top
	&__slider-wrap
		display inline-block
		vertical-align top
		width 342px
		margin-top 16px
		margin-left 37px
	&__inputs
		display inline-block
		vertical-align top
	&__input
		display inline-block
		vertical-align top
		height 32px
		line-height 32px
		margin-left 34px
		&-text
			font-size 13px
			color #999

.category__nav-wrap
	background-color #F6F6F6
	border-top 1px solid #EBEBEB
	border-bottom 1px solid #EBEBEB

.category__tab-content
	padding-top 44px
	padding-bottom 76px
	background 	url(../images/pattern-color-bones-op30-149x149.png) 20px 57px,
							#F6F6F6

	&__foot
		text-align center
		margin-top 45px
