.timer
	background-color #F6F6F6
	position relative
	border-bottom 4px solid #EBEBEB
	font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif



	&__label
		border-top 4px solid #B72800
		background-color #E14013
		width 127px
		position absolute
		top 0
		bottom 0
		left 0
		text-align center
		background 	url(../images/pattern-color-timer-right.png) repeat-y top right,
								url(../images/pattern-color-timer-left.png) repeat-y top left,
								#E14013

		.hot-product__timer &
			+below(4)
				position static
				width auto
				border none
				background none


		&__text
			font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
			font-weight extrabold
			font-size 32px
			line-height 80px
			color #fff
			+below(4)
				sprite($icon_sale_sticker_40x40)
				font-size 13px
				line-height 40px
				font-weight bold
				text-align center
				display block

		&-inner
			display flex
			justify-content center
			align-items center
			width 100%
			height 100%

		&--present
			background #e14013
			width 84px
			padding 4px
			.timer__label-inner
				background #FFF

	&__img
		display inline-block

	&__body
		border-top 4px solid #EBEBEB
		min-height 86px
		font-size 0
		margin-left 127px

		.hot-product__timer &
			+below(4)
				display none


		&--present
			margin-left 84px

		&--coupon
			.timer__caption
				padding-left 9px
				min-width 200px
				width calc(100% - 325px)

	&__caption
		display inline-block
		vertical-align top
		padding-top 10px
		padding-left 14px
		line-height 1
		font-size 16px

	&__strong
		display block
		text-transform uppercase

		&__info
			text-transform none
			&--red
				color #E14013

	&__link
		color #111
		border-bottom-color #111
		font-size 14px
		padding-top 4px
		line-height 1.5
		&:hover
		&:active
			color #111
			border-bottom-color #111
			border-bottom-style solid



	&__countdown-wrap
		padding-top 17px
		padding-left 25px
		padding-bottom 6px
		display inline-block
		vertical-align top

	&__limit
		font-style italic
		color #999
		font-size 14px
		padding-left 25px

		&__icon
			vertical-align top
			margin-right 12px

		.product &
			padding-top 17px
			float right
			width calc(100% - 300px)
			padding-right 25px

	&__scissors
		vertical-align middle
		// margin-top 12px

.hot-product__timer
	+below(4)
		position absolute
		left 11px
		bottom 8px
		background none
		border none
		z-index 1


