.details-item
	position relative

	&[open]
	&.open
		.summary
			border-bottom 1px solid #E1E1E1
		.summary-txt
			color #111
			border-bottom 0

.summary
	cursor pointer
	outline none
	padding-top 27px
	padding-bottom 16px
	padding-left 30px
	padding-right 30px
	background-color #F6F6F6

	border-top 4px solid #E1E1E1

	&::-webkit-details-marker
		display none

.summary-intro
	font-weight bold
	font-size 16px
	float left

.summary-txt-wrap
	margin-left 90px

.summary-txt
	color #555
	border-bottom 1px dashed #4C4C4C

.details-content
	font-size 14px
	margin-top 11px
	padding 30px 90px 40px 120px
	color #4C4C4C
	font-style italic
	background-color #FDFDFD

.details-section
	position relative
	padding 9px 20px

	+below(2)
		padding 0
		border 1px solid #d1d1d1
		.icon-details-marker
			sprite($icon_arrow_down_111_8x6)

	&[open]
	&.open
		.details-section__summary
			+below(2)
				border-bottom 1px solid #d1d1d1
		.icon-details-marker
			sprite($icon_arrow_up_e1_17x9)
			+below(2)
				sprite($icon_arrow_up_111_8x6)


	&__summary
		cursor pointer
		padding-right 36px
		outline none
		+below(2)
			padding 9px 20px
			background-color #F5F5F5
		&::-webkit-details-marker
			display none

.details-simple
	position relative
	padding 5px 0

	&__summary
		cursor pointer
		padding-right 36px
		outline none
		padding-left 20px
		&::-webkit-details-marker
			display none
		&__title
			color #252525
			font-size 14px
			border-bottom 1px dashed #252525
	&__icon
		position absolute
		left 0
		&--plus
			top 8px
		&--dash
			top 14px

.aside-catalogue__details-section__summary__content
	+below(2)
		padding 18px

.aside-catalogue__details-section__summary__title
	+below(2)
		color #111
		font-size 13px
		text-transform uppercase
		font-weight semibold

.icon-details-marker
	position absolute
	right 21px
	top 17px
	sprite($icon_arrow_down_e1_17x9)



