.details-item
	position relative

	&[open]
	&.open
		.summary
			border-bottom 1px solid #E1E1E1
		.summary-txt
			color #111
			border-bottom 0

.summary
	cursor pointer
	outline none
	padding-top 27px
	padding-bottom 16px
	padding-left 30px
	padding-right 30px
	background-color #F6F6F6

	border-top 4px solid #E1E1E1

	&::-webkit-details-marker
		display none

.summary-intro
	font-weight bold
	font-size 16px
	float left

.summary-txt-wrap
	margin-left 90px

.summary-txt
	color #555
	border-bottom 1px dashed #4C4C4C

.details-content
	font-size 14px
	margin-top 11px
	padding 30px 90px 40px 120px
	color #4C4C4C
	font-style italic
	background-color #FDFDFD

