mixin details(intro,summary)

	details.details-item&attributes(attributes)
		summary.summary
			span.summary-intro !{intro}
			.summary-txt-wrap
				span.summary-txt !{summary}
		.details-content
			.details-content-txt
				block

mixin details-section(args)
	details.details-section&attributes(attributes)
		summary.details-section__summary
			+e('span').details-section__summary__title !{args.title}
			i.icon-details-marker
		+e.details-section__summary__content
			block

mixin details-simple(args)
	details.details-simple&attributes(attributes)
		summary.details-simple__summary
			span.details-simple__summary__title !{args.title}
			if args.advantages
				i.icon-plus-green-13x13.details-simple__icon.details-simple__icon--plus
			else
				i.icon-dash-red-13x3.details-simple__icon.details-simple__icon--dash
		.details-simple__summary__content
			block
