.tablet
	background url(../images/tablet.png) no-repeat
	// background-size 979px 452px
	width 979px
	height 452px
	position relative
	padding 64px 90px 0 213px
	&__content
		position relative
	&__social-nav
		position absolute
		right 100%
		top 0
	&__page
		float right
		background url(../images/facebook-page.png) no-repeat
		// background-size 313px 387px
		width 313px
		height 387px
	&__friends
		padding 51px 40px
		margin-right 313px
		&__frame
			margin 20px 0
	&__heading
		font-size 34px
		font-family 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif
		color #222325
		font-weight extrabold




.index__social__tablet
	margin 0 auto
