.showmore
	line-height 1

.showmore-icon
	display inline-block
	vertical-align baseline
	margin-right 14px

.showmore-link
	display inline-block
	vertical-align baseline

.aside-catalogue-section__showmore
	&-wrap
		padding-bottom 17px
	.showmore-link
		color #CCC
		.link__text
			border-bottom-color #CCC
