.hot
	border-top 3px solid #e14013
	padding-top 30px
	padding-bottom 50px

	&__heading
		margin-bottom 40px
		text-align center

		small
			margin-top 5px

	&__more
		margin-top 30px
		text-align center
