include ../content/content
include ../../basic/product/product
include ../../basic/button/button

mixin hot()
	section.hot
		.container-20-outer
			.row-20
				.col-md-20-5
					h1.h1--red.hot__heading Горящие предложения
						small максимальные скидки
			.row-20
				.col-md-20-3
					+product({
										type:'hot',
										position: 'horizontal',
										oldPrice: '45 000 BYR',
										rating: true,
										limit: true
									})
					+product({
										type:'hot',
										position: 'horizontal',
										rating: true,
										oldPrice: '45 000 BYR'
									})
				.col-md-20-2
					+product({
										type:'hot',
										rating: true,
										oldPrice: '45 000 BYR'
									})
			.row-20
				.col-md-20-5
					.hot__more
						+buttonMore({itemCount:10})
